.md-panel {
  &.md-tooltip {
    background-color: $color_white;
    color: $color_black;
    border: 1px solid $color_black;
    border-radius: 0;
    font-weight: 400;
    &.navigator {
      left: 165px !important;
      @media (max-width: 320px) {
        left: 130px !important;
      }
    }
    &.map {
      left: 165px !important;
      @media (max-width: 320px) {
        left: 130px !important;
      }
    }
    &.damage {
      left: 165px !important;
      @media (max-width: 320px) {
        left: 130px !important;
      }
    }
  }
}

#dae-detail {
  //md-fab-speed-dial { overflow : visible; height : 0; }
  .md-fab-top-right {
    top: 0px;
    right: 5px;
  }
  .md-button.md-fab{
    width: 46px;
    height: 46px;
    line-height: 46px;
  }
  md-icon {
    color: $color_white;
    &.detail {
      font-size: x-large;
      color: $color_accent;
    }
  }

  .md-button:not([disabled]):hover {
    background-color: $color_accent;
  }

  .md-subheader {
    font-size: 20px;
    color: $color_black_80;
    font-weight: normal;
  }

  .detail-card {
    background-color: $color_card;
  }

  .detail-icon {
    font-size: x-large;
    margin: 0 15px 0 0px;
    color: $color_black;
  }
  md-list{
    margin-bottom: 10px;
  }
  md-list-item, md-list-item .md-list-item-inner {
    min-height: 40px;
  }
  md-list.md-dense md-list-item.md-2-line::before, md-list.md-dense md-list-item.md-2-line > .md-no-style::before {
    min-height: 40px;
  }
  md-list.md-dense md-list-item::before, md-list.md-dense md-list-item .md-list-item-inner::before {
    min-height: 40px;
  }
  .md-list-item-text {
    margin: 0;
    h3 {
      font-family: $font_roboto_draft;
      font-size: 18px;
      @media (max-width: 320px) {
        font-size: 16px;
      }
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 5px;
    }
    p {
      font-family: $font_roboto_draft;
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  .card-header {
    padding: 10px 16px;
    height: 45px;
    .headline {
      font-size: 18px;
      @media (max-width: 320px) {
        font-size: 16px;
      }
      font-weight: 400;
    }
    .icon {
      i {
        font-size: 28px;
        color: $color_accent;
      }
    }
  }
  .availability {
    padding: 0 10px 10px 10px;
    div{
      &.row{
        margin-bottom: 10px;
      }
    }
    span {
      font-family: $font_roboto_draft;
      font-size: 18px;
      @media (max-width: 320px) {
        font-size: 16px;
      }
      font-weight: 400;
    }
    h3 {
      font-family: $font_roboto_draft;
      font-size: 16px;
      @media (max-width: 320px) {
        font-size: 14px;
      }
      font-weight: 400;
      &.forever{
        text-align: center;
        margin-top: 10px;
        color: $color_primary;
        font-size: 18px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }
  }

  .photo-detail {
    max-height: 180px !important;
    height: 180px !important;
    //box-shadow: 0 2px 6px $color_black_20;
    display: block;
    div {
      &.default {
        padding: 10px;
        background-color: $color_celeste_approx;
        text-align: center;
        height: inherit !important;
        &.header {
          padding: 0;
        }
        img {
          width: 50%;
        }
      }
      &.photo {
        padding: 0;
        background-color: #000;
        text-align: center;
        height: inherit !important;
        &.header {
          padding: 0;
        }
        img {
          height: 100%;
        }
      }
    }
  }

}