#resetPassword{
  md-dialog-actions{
    .md-button{
      font-size: 120%;
    }
  }
  .md-dialog-content{
    padding-bottom: 0;
    p {
      margin-bottom: 10px;
      font-size: 130%;
    }
    md-input-container {
      margin: 18px 0 0 0;
      &.md-input-focused,
      &.md-input-has-value {
        label:not(.md-no-float) {
          transform: translate3d(0, 6px, 0) scale(1);
          font-size: 18px;
          @media (max-width: 320px) {
            font-size: 16px;
          }
        }
      }
      .md-input{
        font-size: 18px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
      &:not(.md-input-focused) {
        &:not(.md-input-invalid) {
          label {
            color: $color_primary;
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            &.md-required:after{
              color: $color_primary;
            }
          }
        }
        &.md-input-invalid {
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
          }
        }
        &.md-input-has-placeholder{
          margin: 36px 0 0 0;
        }
      }
      &.md-input-focused {
        label {
          color: $color_primary;
          &.md-required:after{
            color: $color_primary;
          }
        }
        &.md-input-invalid{
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            color: rgb(221, 44, 0);
            &.md-required:after{
              color: rgb(221, 44, 0);
            }
          }
        }
      }
    }
  }
}

#exitApp{
  .md-dialog-content{
    padding-bottom: 0;
    h2{
      font-size: 18px;
      font-weight: 400;
      font-family: $font_roboto_draft
    }
    p {
      margin-bottom: 10px;
    }
  }
}

#selectMunicipality{
  md-dialog-actions{
    .md-button{
      font-size: 120%;
    }
  }
  .md-dialog-content{
    //padding-bottom: 0;
    p {
      margin-bottom: 10px;
      font-size: 130%;
    }
    md-input-container {
      margin: 18px 0 0 0;

      &:not([md-no-float]){
        .md-select-placeholder {
          span:first-child{
            color: $color_primary;
            font-size: 20px;
            // iphone < 6
            @media (max-width: 320px) {
              font-size: 16px;
            }
          }
        }
      }


      &.md-input-focused,
      &.md-input-has-value {
        label:not(.md-no-float) {
          transform: translate3d(0, 6px, 0) scale(1);
          font-size: 18px;
          @media (max-width: 320px) {
            font-size: 16px;
          }
        }
      }
      .md-input{
        font-size: 18px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
      &:not(.md-input-focused) {
        &:not(.md-input-invalid) {
          label {
            color: $color_primary;
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            &.md-required:after{
              color: $color_primary;
            }
          }
        }
        &.md-input-invalid {
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
          }
        }
        &.md-input-has-placeholder{
          margin: 36px 0 0 0;
        }
      }
      &.md-input-focused {
        label {
          color: $color_primary;
          &.md-required:after{
            color: $color_primary;
          }
        }
        &.md-input-invalid{
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            color: rgb(221, 44, 0);
            &.md-required:after{
              color: rgb(221, 44, 0);
            }
          }
        }
      }
    }
  }
}

#addAvailability{
  min-width: 300px;
  .md-dialog-content {
    padding-bottom: 0;
    &.error-messages {
      font-size: 14px;
      color: $color_accent;
    }
  }
  md-dialog-actions{
    .md-button{
      font-size: 120%;
      &:not([disabled]):hover{
        background-color: transparent;
      }
    }
  }
  .availability {
    .md-subheader {
      font-size: 18px;
    }
    .repeatsection {
      .formly-field {
        margin: 0;
      }
      md-icon {
        font-size: 20px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }
    .clear-btn {
      font-size: 24px;
    }

    .add-new {
      border: 1px solid rgba(0, 0, 0, 0.12);
      height: 40px;
      position: relative;
      .add-icon {
        text-align: center;
        i {
          font-size: 20px;
          line-height: 38px;
        }
      }
      .add-text {
        line-height: 38px;
        font-size: 18px;
        // iphone < 6
        @media (max-width: 320px) {
          font-size: 14px;
        }
      }


    }
  }


  //.add-new {
  //  border: 1px solid rgba(0, 0, 0, 0.12);
  //  height: 40px;
  //  position: relative;
  //  .add-icon {
  //    text-align: center;
  //    i {
  //      font-size: 20px;
  //      line-height: 38px;
  //      &.red{
  //        color:$color_accent;
  //      }
  //    }
  //  }
  //  .add-text {
  //    line-height: 38px;
  //    font-size: 18px;
  //    // iphone < 6
  //    @media (max-width: 320px) {
  //      font-size: 14px;
  //    }
  //  }
  //}
  .md-dialog-content{
    //padding-bottom: 0;
    p {
      margin-bottom: 10px;
      font-size: 130%;
    }
    md-input-container {
      margin: 18px 0 0 0;

      &:not([md-no-float]){
        .md-select-placeholder {
          span:first-child{
            color: $color_primary;
            font-size: 20px;
            // iphone < 6
            @media (max-width: 320px) {
              font-size: 16px;
            }
          }
        }
      }

      md-switch {
        margin: 0;
        div.md-label {
          width: 100%;
          font-size: 20px;
          color: $color_black;
        }
        &.md-checked {
          div.md-label {
            width: 100%;
            font-size: 20px;
            color: $color_primary;
          }
        }
      }


      &.md-input-focused,
      &.md-input-has-value {
        label:not(.md-no-float) {
          transform: translate3d(0, 6px, 0) scale(1);
          font-size: 18px;
          @media (max-width: 320px) {
            font-size: 16px;
          }
        }
      }
      .md-input{
        font-size: 18px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
      &:not(.md-input-focused) {
        &:not(.md-input-invalid) {
          label {
            color: $color_primary;
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            &.md-required:after{
              color: $color_primary;
            }
          }
        }
        &.md-input-invalid {
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
          }
        }
        &.md-input-has-placeholder{
          margin: 36px 0 0 0;
        }
      }
      &.md-input-focused {
        label {
          color: $color_primary;
          &.md-required:after{
            color: $color_primary;
          }
        }
        &.md-input-invalid{
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            color: rgb(221, 44, 0);
            &.md-required:after{
              color: rgb(221, 44, 0);
            }
          }
        }
      }
      md-select {
        margin-bottom: 15px;
        font-size: 18px;
        // iphone < 6
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
      md-icon{
        font-size: 20px;
        // iphone < 6
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }
  }
}

#addDoNotDisturbInterval{
  md-dialog-actions{
    .md-button{
      font-size: 120%;
      &:not([disabled]):hover{
        background-color: transparent;
      }
    }
  }
  .md-dialog-content{
    padding: 15px 10px 0 10px;
    p {
      margin-bottom: 10px;
      font-size: 130%;
    }
    md-input-container {
      margin: 18px 0 0 0;

      &.md-input-focused,
      &.md-input-has-value {
        label:not(.md-no-float) {
          transform: translate3d(0, 6px, 0) scale(1);
          font-size: 18px;
          @media (max-width: 320px) {
            font-size: 16px;
          }
        }
      }
      .md-input{
        font-size: 18px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
      &:not(.md-input-focused) {
        &:not(.md-input-invalid) {
          label {
            color: $color_primary;
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            &.md-required:after{
              color: $color_primary;
            }
          }
        }
        &.md-input-invalid {
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
          }
        }
        &.md-input-has-placeholder{
          margin: 36px 0 0 0;
        }
      }
      &.md-input-focused {
        label {
          color: $color_primary;
          &.md-required:after{
            color: $color_primary;
          }
        }
        &.md-input-invalid{
          label {
            font-size: 18px;
            @media (max-width: 320px) {
              font-size: 16px;
            }
            color: rgb(221, 44, 0);
            &.md-required:after{
              color: rgb(221, 44, 0);
            }
          }
        }
      }
      md-icon{
        font-size: 20px;
        // iphone < 6
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }
  }
}