//menu section
.nav-bar-title {
  img {
    margin-top: 10px;
    height: 30px;
  }
}

//menu header section
#toggle-menu-left-header {
  height: 194px;
  //background: $url_background_cover_pixels repeat 0;
  background-position-x: 8px;
  color: $color_white;
  box-shadow: 0 0 0 0 $color_black_14, 0 1px 10px 0 $color_black_14, 0 2px 4px -1px $color_black_20;
  background-repeat: repeat;
  position: relative;
  background-size: 80%;
  z-index: 9000;
  div.menu-left-header {
    position: relative;
    top: 47%;
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 0 0 0;

    i {
      font-size: 24px;
      @media (max-width: 320px) {
        font-size: 24px;
      }
    }

    img.user-img {
      border-radius: 50%;
      width: 62px;
      height: 62px;
      margin-bottom: 2px;
    }

    div {
      &.request {
        font-size: large;
      }
      &.user {
        margin-top: 10px;
        span {
          font-family: $font_roboto_draft;
          color: $color_white;
          font-size: 24px;
          @media (max-width: 320px) {
            font-size: 22px;
          }
          font-weight: 400;
        }
      }
      &.email {
        span {
          font-family: $font_roboto_draft;
          color: $color_white;
          font-size: 16px;
          @media (max-width: 320px) {
            font-size: 14px;
          }
          font-weight: 400;
        }
      }
    }
  }
}

//end menu header section

//menu content section
#toggle-menu-left-content {
  margin-top: 204px;

  md-list {
    h2 {
      background-color: transparent !important;
      div.md-subheader-inner {
        background-color: transparent !important;
      }
    }

    md-list-item.menu-list-item {
      //display: table;
      width: 100%;

      i {
        margin-right: 30px;
        margin-left: 10px;
        font-size: 19px;
        color: $color_gray;
        width: 20px;
      }

      span {
        font-size: 15px;
      }
    }
  }
  .menu-list {
    .menu-item {
      padding: 14px 0;
      .icon {
        text-align: center;
        font-size: 24px;
        color: gray;
      }
      .text-item {
        font-size: 20px;
        @media (max-width: 320px) {
          font-size: 18px;
        }
        font-weight: 400;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}


//menu content section
//end menu section