.md-autocomplete-suggestions li {
  font-size: 18px !important;
  @media (max-width: 320px) {
    font-size: 16px !important;
  }
}
#new-dae {
  .has-header{
    top: 44px;
  }

  form{
    padding: 10px;
  }
  .has-toolbar {
    top: 230px;
    margin: 10px;
  }

  .formly-field {
    margin-bottom: 10px;
  }

  .md-button.md-accent.md-fab {
    &.fab-toolbar-medium {
      position: absolute;
      top: 165px;
      right: 5px;
      padding: 12px;
      line-height: 0 !important;

      i {
        vertical-align: text-top;
        font-size: xx-large;
        color: $color_white;
      }
    }
  }

  md-switch {
    &.md-checked {
      &.md-primary {
        .md-bar {
          background-color: rgb(158, 158, 158);
        }
      }
    }
  }

  md-input-container {
    textarea.md-input{
      font-size: 20px;
      @media (max-width: 320px) {
        font-size: 18px;
      }
    }
    input[type="button"]{
      font-size: 20px;
      @media (max-width: 320px) {
        font-size: 18px;
      }
    }
    &.md-input-focused,
    &.md-input-has-value {
      label:not(.md-no-float) {
        font-size: 20px;
        transform: translate3d(0, 6px, 0) scale(1);
        @media (max-width: 320px) {
          font-size: 18px;
        }
      }
    }

    &.md-icon-left > label:not(.md-no-float):not(.md-container-ignore){
      // iphone < 6
      @media (max-width: 320px) {
        width: calc(100% - 28px - 18px);
      }
    }
    margin: 18px 0 0 0;



    &:not(.md-input-focused) {
      &:not(.md-input-invalid) {
        label {
          color: $color_primary;
          font-size: 20px;
          // iphone < 6
          @media (max-width: 320px) {
            font-size: 18px;
          }
        }
      }
      &.md-input-invalid {
        label {
          font-size: 20px;
          // iphone < 6
          @media (max-width: 320px) {
            font-size: 18px;
          }
        }
      }
      &.md-input-has-placeholder {
        margin: 18px 0 0 0;

      }
    }
    &:not([md-no-float]){
      .md-select-placeholder {
        span:first-child{
          color: $color_primary;
          font-size: 20px;
          @media (max-width: 320px) {
            font-size: 18px;
          }
        }
      }
    }
    md-select {
      margin-bottom: 15px;
      font-size: 18px;
      // iphone < 6
      @media (max-width: 320px) {
        font-size: 16px;
      }
    }
  }
  md-icon{
    font-size: 20px;
    // iphone < 6
    @media (max-width: 320px) {
      font-size: 16px;
    }
  }
  md-switch {
    margin: 0;
    div.md-label {
      width: 100%;
      font-size: 20px;
      color: $color_black;
    }
    &.md-checked {
      div.md-label {
        width: 100%;
        font-size: 20px;
        color: $color_primary;
      }
    }
  }
  .md-button {
    color: $color_black;
    //text-transform: capitalize;
    font-size: 16px;
    // iphone < 6
    @media (max-width: 320px) {
      font-size: 14px;
    }
    &.md-primary{
      color: $color_white;
    }
  }
  .localize {
    margin-top: 15px;
    .md-button {
      background-color: white;
      color: #000;
      font-size: 28px;
      height: 40px;
      line-height: 48px;
      width: 40px;
      margin: 0px 2px;

      // iphone < 6
      @media (max-width: 320px) {
        font-size: 22px;
        height: 34px;
        line-height: 40px;
        width: 34px;
      }

    }
    span {
      font-size: 20px;
      // iphone < 6
      @media (max-width: 320px) {
        font-size: 18px;
      }
      //margin-left: 10px;
      //line-height: 48px;
    }
  }

  .toolbar-medium {
    max-height: 200px !important;
    height: 200px !important;
    box-shadow: 0 2px 6px $color_black_20;
    display: block;
    div {
      &.default {
        padding: 10px;
        background-color: $color_celeste_approx;
        text-align: center;
        height: inherit !important;
        &.header {
          padding: 0;
        }
        img {
          width: 50%;
        }
      }
    }

    div {
      &.photo {
        padding: 0;
        background-color: #000;
        text-align: center;
        height: inherit !important;
        &.header {
          padding: 0;
        }
        img {
          height: 100%;
        }
      }
    }
    h1 {
      color: $color_white;
      font-size: 34px;
    }

    h2 {
      color: $color_white;
      font-size: 18px;
    }

    h3 {
      color: $color_white;
      font-size: 28px !important;
    }

  }
  .availability {
    .md-subheader {
      font-size: 18px;
    }
    .repeatsection {
      .formly-field {
        margin: 0;
      }
      md-icon {
        font-size: 20px;
        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }
    .clear-btn {
      font-size: 24px;
    }

    .add-new {
      border: 1px solid rgba(0, 0, 0, 0.12);
      height: 40px;
      position: relative;
      .add-icon {
        text-align: center;
        i {
          font-size: 20px;
          line-height: 38px;
        }
      }
      .add-text {
        line-height: 38px;
        font-size: 18px;
        // iphone < 6
        @media (max-width: 320px) {
          font-size: 14px;
        }
      }


    }
  }

}