#settings {
  //md-fab-speed-dial { overflow : visible; height : 0; }
  .md-fab-top-right {
    top: 0px;
    right: 5px;
  }
  md-icon {
    color: $color_black;
    font-size: x-large;
    &.detail {
      font-size: x-large;
      color: $color_accent;
    }
  }

  .settings-card{
    padding: 0 0 16px 0;
    color: $color_primary;
    text-transform: uppercase;
  }
  //.md-button:not([disabled]):hover {
  //background-color: $color_primary;
  //}

  .md-subheader {
    font-size: 20px;
    color: $color_black_80;
    font-weight: normal;
  }

  .detail-card {
    background-color: $color_card;
  }

  .detail-icon {
    font-size: x-large;
    margin: 0 15px 0 0px;
    color: $color_black;
  }

  .md-button {
    color: $color_black;
    //text-transform: capitalize;
    font-size: 14px;
    &.md-primary {
      color: $color_white;
    }
  }

  md-input-container {
    md-switch {
      margin: 0 0 16px 0;
      .md-label {
        font-size: 22px;
        @media (max-width: 320px) {
          font-size: 20px;
        }
      }
    }
    label {
      font-size: 22px;
      @media (max-width: 320px) {
        font-size: 20px;
      }
    }
    &.md-icon-left > label:not(.md-no-float):not(.md-container-ignore) {
      // iphone < 6
      @media (max-width: 320px) {
        width: calc(100% - 28px - 18px);
      }
    }
    margin: 0 0 0 0;

    .md-input {
      font-size: 22px;
      color: $color_primary;
      // iphone < 6
      @media (max-width: 320px) {
        font-size: 20px;
      }
    }

    &:not(.md-input-focused) {
      &:not(.md-input-invalid) {
        label {
          color: $color_primary;
          font-size: 22px;
          // iphone < 6
          @media (max-width: 320px) {
            font-size: 20px;
          }
        }
      }
      &.md-input-invalid {
        label {
          font-size: 22px;
          // iphone < 6
          @media (max-width: 320px) {
            font-size: 20px;
          }
        }
      }
      &.md-input-has-placeholder {
        margin: 18px 0 0 0;

      }
    }
    &:not([md-no-float]) {
      .md-select-placeholder {
        span:first-child {
          color: $color_primary;
          font-size: 16px;
        }
      }
    }
    md-select {
      margin-bottom: 15px;
      color: $color_black;
    }
  }

}