<div class="modal-header">
  <h4 class="modal-title">Dettaglio Mezzo</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-8">
      <label class="label ">Codice</label>
      <input class="form-control" [(ngModel)]="vehicle.code" disabled>

      <label class="label ">Tipologia</label>
      <input class="form-control" [(ngModel)]="vehicle.type" disabled>

      <label class="label ">Anno Immatricolazione</label>
      <input class="form-control" [(ngModel)]="vehicle.firstMatriculationYear" disabled>
      <label class="label ">ASL</label>
      <input class="form-control" [(ngModel)]="vehicle.asl" disabled>
      <label class="label ">Postazione</label>
      <input class="form-control" [(ngModel)]="vehicle.parkingCode" disabled>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <label class="label">GPS</label>
        </div>
        <div class="col-md-6">
          <label class="label">Mezzo fisico</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ui-switch [(ngModel)]="vehicle.gpsFlag" size="small" disabled></ui-switch>
        </div>
        <div class="col-md-6">
          <ui-switch [(ngModel)]="vehicle.physicalFlag" size="small" disabled></ui-switch>
        </div>
      </div>


      <label class="label ">Convenzione</label>
      <input class="form-control" [(ngModel)]="vehicle.conventionDescription" disabled>
      <label class="label ">Targa</label>
      <input class="form-control" [(ngModel)]="vehicle.plateNumber" disabled>
      <label class="label ">Selettiva Dati</label>
      <input class="form-control" [(ngModel)]="vehicle.radioSelective" disabled>
      <label class="label ">Telefoni</label>
      <ng-select allowClear="true" [items]="vehicle.listaTelefoni" [(ngModel)]="telefono" valueField="text"> </ng-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="label ">Note</label>
      <textarea disabled style="height: 60px !important" rows="3" cols="30" class="form-control form-control-ta" [(ngModel)]="vehicle.note"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="dismiss()">Esci</button>
</div>
