<ion-view id="changePassword" title="Modifica password">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="vm.goToState('app.home')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-img">
        <div class="row">
            <div class="col text-center">
                <img src="img/logo.png" />
            </div>
        </div>
    </md-toolbar><!--end toolbar section-->
    <ion-content qy-toggle-overflow-scroll overflow-scroll="false" class="has-toolbar overflow-scroll" scroll="false">
        <form  name="vm.changePasswordForm" novalidate>
            <formly-form model="vm.changePasswordModel" fields="vm.changePasswordFields" form="vm.changePasswordForm">
                <div class="text-center">
                    <md-button ng-click="vm.changePassword()" type="button" class="md-raised changepwd-btn">{{'GO_CHANGEPWD' | translate}}</md-button>
                </div>
            </formly-form>
        </form>
    </ion-content>
</ion-view>