<ion-view id="eventList" title="Errore Connessione">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons>
    <!--end left button on navigation bar-->
    <ion-content class="overflow-scroll" qy-toggle-overflow-scroll overflow-scroll="false">
        <md-card  >
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Errore</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content class="no-padding-vertical" style="font-size:18px">
                <p>
                    {{vm.message}}
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start" style="font-size:18px">
                <md-button ng-if="vm.message" ng-click="vm.retry()" style="font-size:18px" class="md-raised md-accent start-btn">Ok</md-button>
            </md-card-actions>
            <md-card-actions layout="column" layout-align="start" ng-if="vm.mail" style="font-size:18px" >
                <div class="info">
                    <p> Segnalaci l'errore via mail </p>
                </div>
                <md-button ng-click="vm.sendMail()" class="md-raised md-accent start-btn">Mail</md-button>
            </md-card-actions>
        </md-card>
    </ion-content>
</ion-view>