<ion-view id="login" title="Login">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="vm.navigateTo('app.home')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-img">
        <div class="row">
            <div class="col text-center">
                <img src="img/logo.png" />
            </div>
        </div>
    </md-toolbar><!--end toolbar section-->
    <ion-content class="has-toolbar" scroll="false">
        <form  name="vm.loginForm" novalidate>
            <formly-form model="vm.credentials" fields="vm.loginFields" form="vm.loginForm">
                <div class="text-center">
                    <md-button ng-click="vm.login()" type="button" class="md-raised login-btn">{{'GO_LOGIN' | translate}}</md-button>
                </div>
            </formly-form>
        </form>
        <div class="row">
            <div class="col text-center">
                <md-button ng-click="vm.openPromptForPasswordRecover()">{{'RECOVER_PASSWORD' | translate}}</md-button>
            </div>
        </div>
        <div class="row">
            <div class="col col-center text-center">
                <md-button ng-click="vm.goToState('app.registration')">{{'REGISTRATION' | translate}}</md-button>
            </div>
        </div>
    </ion-content>
</ion-view>