<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
     <!--   <input matInput [matDatepicker]="picker" placeholder="dd/MM/aaaa">-->
        <input id="inputItemNome" name="nome" [matDatepicker]="picker" ng-virtual-keyboard ng-virtual-keyboard-layout="numeric"
        ng-virtual-keyboard-placeholder="dd/MM/aaaa" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>     
</mat-dialog-content>
<mat-dialog-actions>
    <!--<button mat-raised-button mat-dialog-close>No</button>-->
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-raised-button (click)="confirm()">OK</button>
</mat-dialog-actions>
