/*.mat-dialog-content {
    font-size: 1.9rem
}

.mat-calendar-body-label, .mat-calendar-period-button {
    font-size: 25px;
}

.mat-calendar-body-cell-content {  
    font-size: 2em;
}

.mat-datepicker-content {
    width: 25em;
}*/

