<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
    <mat-grid-list cols="{{nCols}}" rowHeight="3:1">
        <mat-grid-tile [ngClass]="{'mat-grid-tile-active': selected?.description === item?.description}" (click)="itemSelected(item)"
            *ngFor="let item of items">{{item.description}}</mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions class="align-items-center h-100 justify-content-center pull-center" style="margin-right: 25%;">
    <!--<button mat-raised-button mat-dialog-close>No</button>-->
    <!-- Can optionally provide a result for the closing dialog. -->
    <!-- <button mat-raised-button >OK</button> -->
    <button class="btn-xlg pull-left" style="background-color: #eb1b4c" mdcButton [raised]="true" mat-button [mat-dialog-close]="false">
        <span class="btn-value">Annulla</span>
    </button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button class="btn-xlg pull-right" mat-button mdcButton [raised]="true" (click)="confirm()">
        <span class="btn-value">OK</span>
    </button>
</mat-dialog-actions>