<areas-navbar title="Gestione DAE" version="1.0">
    <areas-navbar-left>
        <areas-navbar-dropdown></areas-navbar-dropdown>
        <areas-navbar-dropdown></areas-navbar-dropdown>
        <areas-navbar-dropdown></areas-navbar-dropdown>
    </areas-navbar-left>
    <areas-navbar-right>
        <button style="margin-right: 18px; margin-top: 3px;" ng-click="logout()" class="btn btn-primary btn-lg" data-toggle="dropdown">
            <span class="sr-only">Logout</span>
            <i class="icon-nav fa fa-sign-out"></i>
            </a>
    </areas-navbar-right>

    <!--<areas-navbar-left>

        <areas-navbar-dropdown>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="avatar icon-info"><img src="../assets/img/inline/avatar-ospedale.jpg" alt=""></span>
                <span class="nav-label-container">
        		<span class="nav-label"><acronym title="Azienda Ospedaliero-Sanitaria">AOU</acronym> PRIMO</span>
                <span class="nav-sublabel">Presidio: Molinette</span> <i class="caret fa fa-chevron-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" title="AOU Città della Salute e della Scienza di Torino" tabindex="">AOU Città della Salute e della Scienza di Torino</a>
                </li>
                <li>

                    <a href="#" title="Ospedale Sant'Anna" tabindex="">Ospedale Sant'Anna</a>
                </li>
                <li>

                    <a href="#" title="CPVE" tabindex="">CPVE</a>
                </li>
                <li>

                    <a href="#" title="Orbassano" tabindex="">Orbassano</a>
                </li>
            </ul>
        </areas-navbar-dropdown>

        <areas-navbar-dropdown>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="avatar icon-info"><img src="../assets/img/inline/avatar-ospedale.jpg" alt=""></span>
                <span class="nav-label-container">
        		<span class="nav-label"><acronym title="Azienda Ospedaliero-Sanitaria">AOU</acronym> SECONDO</span>
                <span class="nav-sublabel">Presidio: Molinette</span> <i class="caret fa fa-chevron-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" title="AOU Città della Salute e della Scienza di Torino" tabindex="">AOU Città della Salute e della Scienza di Torino</a>
                </li>
                <li>

                    <a href="#" title="Ospedale Sant'Anna" tabindex="">Ospedale Sant'Anna</a>
                </li>
                <li>

                    <a href="#" title="CPVE" tabindex="">CPVE</a>
                </li>
                <li>

                    <a href="#" title="Orbassano" tabindex="">Orbassano</a>
                </li>
            </ul>
        </areas-navbar-dropdown>

                <areas-navbar-dropdown>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="avatar icon-info"><img src="../assets/img/inline/avatar-ospedale.jpg" alt=""></span>
                <span class="nav-label-container">
        		<span class="nav-label"><acronym title="Azienda Ospedaliero-Sanitaria">AOU</acronym> TERZO</span>
                <span class="nav-sublabel">Presidio: Molinette</span> <i class="caret fa fa-chevron-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" title="AOU Città della Salute e della Scienza di Torino" tabindex="">AOU Città della Salute e della Scienza di Torino</a>
                </li>
                <li>

                    <a href="#" title="Ospedale Sant'Anna" tabindex="">Ospedale Sant'Anna</a>
                </li>
                <li>

                    <a href="#" title="CPVE" tabindex="">CPVE</a>
                </li>
                <li>

                    <a href="#" title="Orbassano" tabindex="">Orbassano</a>
                </li>
            </ul>
        </areas-navbar-dropdown>



    </areas-navbar-left>
    -->


</areas-navbar>