<div class="navbar yamm navbar-default navbar-fixed-top layout-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <i class="icon-nav fa fa-navicon"></i>
        </button>
        <a class="navbar-brand" href="/index.html">Gestione DAE
            <span class="versioning">1.0</span>
        </a>
    </div>
    <div id="bookingNavBar" class="navbar-collapse collapse navbar-responsive-collapse navbar-top ">
        <!--<ul class="nav navbar-nav navbar-left">-->
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="avatar icon-info">
                        <img ng-src="{{user.immagine.url}}" alt="">
                    </span>
                    <span class="nav-label-container">
                        <span class="nav-label">{{user.nome}} {{user.cognome}}
                        </span>
                        <span class="nav-sublabel">{{user.categoriaFr.descrizione}}</span>
                        <i class="caret fa fa-chevron-down"></i>
                    </span>
                </a>
                <div style="min-width: 400px" class="dropdown-menu yamm-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="dropdown-header">Il tuo account</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#" title="Profilo" tabindex="" ng-click="profilo()">
                                        <i class="fa fa-user-md"></i>Profilo</a>
                                </li>
                                <li>
                                    <a href="#" title="Logout" tabindex="" ng-click="logout()">
                                        <i class="fa fa-power-off"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <button style="margin-right: 18px; margin-top: 3px;" ng-click="logout()" class="btn btn-primary btn-lg" data-toggle="dropdown">
                    <span class="sr-only">Logout</span>
                    <i class="icon-nav fa fa-sign-out"></i>
                    </a>
            </li>
        </ul>
    </div>
</div>