<div id="warning-portrait">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Attenzione!</mat-card-title>
            <mat-card-subtitle>Rilevata posizione non corretta del dispositivo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p style="font-size: 1.5rem;">
                Per favore posizionare il tablet in modalità landascape.
            </p>
        </mat-card-content>
        <section class="row h-100 justify-content-center align-items-center">
            <!--<mat-card-actions>
            <button [routerLink]="['/intervention/newIntervention']" mat-button>OK</button>
        </mat-card-actions>-->
        </section>
    </mat-card>
</div>
<div id="wrap">
    <router-outlet></router-outlet>
</div>