<div class="modal-header">
	<h4 class="modal-title">{{title}}</h4>
	<button
		type="button"
		class="close"
		aria-label="Close"
		(click)="dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="form-group" *ngIf="startAddress && startAddress.streetName && startAddress.streetName.length>0">
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Indirizzo partenza</label>
			<textarea disabled="true" style="height: 35px !important" [inputMask]="'*{0,1024}'" rows="1" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="startAddress.streetName"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Note indirizzo</label>
			<textarea disabled="true" style="height: 65px !important" [inputMask]="'*{0,1024}'" rows="3" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="startAddress.streetNote"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Località</label>			
			<!--<label class="col-form-label">{{startAddress.localityName}}</label>-->			
			<textarea disabled="true" style="height: 35px !important" [inputMask]="'*{0,1024}'" rows="1" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="startAddress.localityName"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Note Località</label>
			<textarea disabled="true" style="height: 65px !important" [inputMask]="'*{0,1024}'" rows="3" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="startAddress.localityNote"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Comune</label>
			<textarea disabled="true" style="height: 35px !important" [inputMask]="'*{0,1024}'" rows="1" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="startAddress.municipalityName"></textarea>
		</div>	
	</div>

	<!-- Indirizzo arrivo -->
	<div class="form-group" *ngIf="endAddress && endAddress.streetName && endAddress.streetName.length>0">
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Indirizzo destinazione</label>
			<textarea disabled="true" style="height: 35px !important" [inputMask]="'*{0,1024}'" rows="1" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="endAddress.streetName"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Note indirizzo</label>
			<textarea disabled="true" style="height: 65px !important" [inputMask]="'*{0,1024}'" rows="3" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="endAddress.streetNote"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Località</label>			
			<!--<label class="col-form-label">{{endAddress.localityName}}</label>-->			
			<textarea disabled="true" style="height: 35px !important" [inputMask]="'*{0,1024}'" rows="1" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="endAddress.localityName"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Note Località</label>
			<textarea disabled="true" style="height: 65px !important" [inputMask]="'*{0,1024}'" rows="3" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="endAddress.localityNote"></textarea>
		</div>
		<div class="col-md-12 form-group">
			<label class="label col-form-label" >Comune</label>
			<textarea disabled="true" style="height: 35px !important" [inputMask]="'*{0,1024}'" rows="1" cols="300"   
			class="form-control form-control-ta" [(ngModel)]="endAddress.municipalityName"></textarea>
		</div>	
	</div>
	<!-- Nessun dato -->
	<div class="form-group" *ngIf="!(startAddress && startAddress.municipalityName && startAddress.municipalityName.length>0) 
									&& !(endAddress && endAddress.municipalityName && endAddress.municipalityName.length>0)">
		<div class="col-md-8 form-group">
			<label class="label col-form-label" >Nessun dettaglio indirizzo </label>
		</div>	
	</div>
</div>
<div class="modal-footer">

	<button
		type="button"
		class="btn btn-success"
		(click)="close()">chiudi</button>
</div>
