$topnav-background-color:rgba(236, 240, 241, 0.9490196078431372) !default;
:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #006b84;
    ;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #006b84;
        color: #006b84;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #006b84;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #006b84;
        background: $topnav-background-color;
        border: 2px solid #006b84;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #006b84;
        border: 2px solid #006b84 !important;
        outline: none;
    }
    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 48px;
        small {
            color: #006b84;
        }
    }
    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: #006b84 !important;
        }
        input:-moz-placeholder {
            /* Firefox 18- */
            color: #006b84 !important;
        }
        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #006b84 !important;
        }
        input:-ms-input-placeholder {
            color: #006b84 !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        /*-webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;*/
        margin-left: 51px;
    }
    .co-selection-form {
        border-color: #006b84;
        border-width: 2px;
        border-radius: 5%;
        border-style: solid;
    }
}

.mdc-button {
    width: 30%;
    height: 95px;
    font-size: 2rem;
}

.blox-elevation-surface {
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
    width: 500px;
    height: 600px;
    padding: 1rem; */
}

.mat-grid-tile{
    width: calc(((30% - 0.8px) * 1) + 0px) !important;
}