<script type="text/ng-template" id="passwordChangeModal.html">
    <div class="modal-header">
        <span class="panel-icon">
            <i class="fa fa-bell"></i>
        </span>
        <h3 class="modal-title" id="modal-title">Reset Password</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="userForm" validate>
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Vecchia Password</label>
                    <input name="oldpassword" type="{{showPwd? 'text' : 'password'}}" class="form-control" ng-model="oldPassword" />
                    <label-validated label="Nuova Password" message="Inserire una password valida" class="{'form-group': false, 'has-error':password.$invalid}"
                        name="password"> </label-validated>
                    <input name="password" type="{{showPwd? 'text' : 'password'}}" class="form-control" ng-model="password" ui-validate="{required: 'validatePassword($value)'}"
                    />

                    <uib-progressbar value="passwordStreght" type="{{passwordStreghtType}}" max="100" style="margin-top:10px;"> </uib-progressbar>
                    <label-validated label="Ripeti Password" message="Ripetere la stessa password" class="{'form-group': false, 'has-error':repeatPassword.$invalid}"
                        name="repeatpassword"></label-validated>
                    <input name="repeatpassword" type="{{showPwd? 'text' : 'password'}}" class="form-control" ng-model="repeatPassword" placeholder="Password"
                        ui-validate="{required: 'validateRepeatPassword($value)'}" ui-validate-watch=" 'password' " />

                    <label>Visualizza Password</label>
                    <input type="checkbox" name="showpwd" ng-model="showPwd" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" ng-click="salvaPassword()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Salva
            </button>
            <button class="btn btn-danger" type="button" ng-click="$dismiss('cancel')">
                <i class="fa fa-undo" aria-hidden="true"></i>
                Annulla
            </button>
        </div>
    </div>
</script>
<form name="userForm" ng-submit="saveUser()" validate>
    <div class="row form-group">
        <div class="col-md-6">
            <label>Logon</label >
            <input name="logon" class="form-control" ng-model="user.logon" placeholder="Logon" disabled/>

            <label-validated label="Nome" class="{'form-group': false, 'has-error':user.nome.$invalid}" name="nome"></label-validated>
            <input name="nome" class="form-control" ng-model="user.nome" placeholder="Nome" ui-validate="{required: 'validate($value)'}"/>

            <label-validated label="Cognome" class="{'form-group': false, 'has-error':user.cognome.$invalid}" name="cognome"></label-validated>
            <input name="cognome" class="form-control" ng-model="user.cognome" placeholder="Cognome" ui-validate="{required: 'validate($value)'}" />
        </div>

        <div class="col-md-6">
            <label-validated label="E-mail" class="{'form-group': false, 'has-error':user.email.$invalid}" name="email"></label-validated>
            <input name="email" ui-validate="{required: 'validate($value)'}" class="form-control" ng-model="user.email" placeholder="E-mail" />

            <label-validated label="Codice Fiscale" class="{'form-group': false, 'has-error':user.codiceFiscale.$invalid}" name="codiceFiscale"></label-validated>
            <input name="codiceFiscale" class="form-control" ng-model="user.codiceFiscale" placeholder="Codice Fiscale" ui-validate="{required: 'validate($value)'}" />
        </div>
    </div>

    <div   class="row form-group"  >
        <div class=" col-md-6">
            <label-validated label="Comune di Residenza" class="{'form-group': false, 'has-error':user.comuneResidenza.$invalid}" name="comuneResidenza"></label-validated>
            <ui-select ng-change="selectMunicipality($select.selected)" reset-search-input="true" ui-validate="{required: 'validate($value.nomeComune)'}" name="comuneResidenza" ng-blur="checkSelected('comune', 'user.comuneResidenza = null')" ng-model="user.comuneResidenza" theme="bootstrap">
                <ui-select-match allow-clear placeholder="Comune">{{$select.selected.nomeComune}}</ui-select-match>
                <ui-select-choices repeat="comune in comuni  track by $index" refresh="refreshComune($select.search)" refresh-delay="500">
                    <div ng-bind-html="comune.nomeComune | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <label>Indirizzo di Residenza</label>
            <ui-select ng-change="selectStreet($select.selected)" ng-model="user.indirizzo" theme="bootstrap">
                <ui-select-match allow-clear placeholder="Indirizzo">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="strada in strade  track by $index" refresh="refreshStrade($select.search)" refresh-delay="500">
                    <div ng-bind-html="strada.name | highlight: $select.search"></div>
                    <small>
                        {{strada.comune.nomeComune}}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class=" col-md-6">
            <label-validated label="Civico" class="{'form-group': false, 'has-error':user.civico.$invalid}" name="civico"></label-validated>
            <input name="civico" class="form-control" ng-model="user.civico" placeholder="Civico">
        </div>
    </div>


    <div class="btn-container pull-right" ng-show="user.id">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" ng-click="reset()">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  Salva
              </button>
            <button class="btn btn-danger" type="button" ng-click="cambioPassword()">Cambio Password</button>
        </div>
    </div>
</form>