<!--<div class="layout-app-content clearfix dashboard" id="content">
  <div class="container-fluid">-->
<div *ngIf="isForSearch" id="commonsearch">
  <div class="breadcrumbs header-section row " style="padding: 0px !important">
    <!--style="margin-left: 11px !important;margin-right: -19px !important;"-->
    <div class="title col-xs-12 col-sm-10" style="margin-top:3px; margin-bottom:2px;">
      <span class="section-icon">
        <i class="fa {{headerIcon}} fa-2x" aria-hidden="true"></i>
      </span>
      <h1 class="section-title">{{headerTitle}}</h1>
    </div>
    <div *ngIf="showHeaderHook" class="col-xs-12 col-sm-2 btn-group" style="margin-top: 10px; margin-bottom: 8px">
      <button data-toggle="collapse" (click)="manageSearch()" aria-expanded="false" class="btn btn-primary" style="font-size: 18px;  width: 100px"
        type="submit">Cerca</button>
      <button class="btn btn-primary collapsed" style="font-size: 13px; " data-target="#search-advanced" data-toggle="collapse"
        type="button">
        <span class="sr-only">Ricerca avanzata</span>
        <i class="fa fa-chevron-down"></i>
      </button>
      <button data-toggle="collapse" (click)="resetFilter()" aria-expanded="false" class="btn btn-primary" style="font-size: 18px;"
        type="submit" ngbTooltip='Reset filtro' placement="bottom" >
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="container search-advanced collapsible collapse in" id="search-advanced" >
      <form name="bookingSearchForm" id="searchForm" aria-expanded="true" class="collapse show" action="/html/tags/html_form_tag_action.cfm">
        <ndc-dynamic [ndcDynamicComponent]="contentForm" [ndcDynamicInputs]="inputs" [ndcDynamicOutputs]="outputs"></ndc-dynamic>
      </form>
    </div>

  </div>
</div>

<div *ngIf="!isForSearch && contentForm" class="row">
  <ndc-dynamic [ndcDynamicComponent]="contentForm" [ndcDynamicInputs]="inputs" [ndcDynamicOutputs]="outputs"></ndc-dynamic>
</div>


<!--<div class="row">
    <ndc-dynamic [ndcDynamicComponent]="contentAll" [ndcDynamicInputs]="inputs" [ndcDynamicOutputs]="outputs"></ndc-dynamic>
  </div>-->
