<div [@.disabled]="disableAnimation" [@routerTransition]>


    <!--<app-header></app-header>
    <app-sidebar [intervention]="true"></app-sidebar>-->


    <section class="sectionWrapperCard">
        <i class="fa fa-3x fa-address-card"></i>
        <span class="title">Scheda Intervento</span>

        <mat-card *ngIf="eventPosition?.dist" class="col-sm-3 distancePanel">

            <span class="label-card ml-auto pull-left col-sm-12">Distanza {{eventPosition?.dist}} Km</span>

            <span class="label-card ml-auto pull-left col-sm-12">Precisione {{eventPosition?.precisionLevel}} </span>

            <span class="label-card ml-auto pull-left col-sm-12">su {{eventPosition?.precisionZone}}</span>


        </mat-card>
        <!--Disabilitato come richiesto da Paolo  <div class="pull-right">
            <button mdcButton [raised]="true" ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric" value="{{vkeyboardValue}}">
                <i class="fa fa-pencil-square-o editIcon"></i>Aggiungi nota</button>
        </div>
 -->
    </section>

    <section class="sectionWrapper">
       <div class="row">
                <div class="col-sm-12" style="padding-right:0px;margin-left:20px">
                    <mat-checkbox  [disabled] ="hiddenCkPatient" (change)="onChangeCheck($event)" [(ngModel)]="interventionActiveCard.patientNnReperito.value" [(checked)]="interventionActiveCard.patientNnReperito.value">
                        <span [ngClass]="{'value-text': !hiddenCkPatient, 'value-text-disabled': hiddenCkPatient}">{{getLabel('patientNnReperito')}}</span>
                    </mat-checkbox>
                </div>                
        </div>

        <div class="row">
            <div class="col-sm-1" style="padding-right:0px;margin-right:20px">
                <div class="col-sm-12">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('luogo')}">{{getLabel('luogo')}}</span>
                </div>
                <div class="col-sm-12">
                    <span class="value-text">{{getValue('luogo')}}</span>
                </div>
            </div>

            <div class="col-xs-2" style="padding:0px;margin-right:15px">
                <div class="col-sm-12" style="padding:0px;">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('patologia')}">{{getLabel('patologia')}} </span>
                </div>
                <div class="col-sm-12" style="padding:0px;">
                    <span class="value-text">{{getValue('patologia')}}</span>
                </div>
            </div>

            <div class="col-xs-3" style="padding:0px;margin-right:15px" (click)="viewGridDetail('SINTESI INTERVISTA', interventionActiveCard.interviewList, 800)">
                <div class="col-sm-12 col-sm-12-interv" style="padding:0px;">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('criticita')}">{{getLabel('criticita')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle fa-lg"></i>
                    </span>
                </div>
                <div class="{{valueTextColor}}" style="padding:0px;">
                    <span class="value-text">{{getValue('criticita')}}</span>
                </div>
            </div>

            <div class="col-xs-2" style="padding-top: 0px;padding-bottom: 0px;padding-right: 10px;">
                <div class="col-xs-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('modAttivazione')}">{{getLabel('modAttivazione')}}</span>
                </div>
                <div class="col-sm-12 col-sm-12-interv" style="padding-left: 0px;">
                    <span class="value-text">{{getValue('modAttivazione')}}</span>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="col-sm-2" style="padding:0px;">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('sirena')}">{{getLabel('sirena')}}</span>
                </div>
                <div class="col-sm-2" style="padding:0px;">
                    <span class="value-text">{{getValue('sirena')}}</span>
                </div>
            </div>

            <div class="col-xs-2" style="padding:0px;" (click)="viewDetail('EMERGENZA', interventionActiveCard.codEmergenzaObject.detailArray, 600)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : checkDetailUpdated('codEmergenzaObject')}">{{getLabel('codEmergenza')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>

                <div class="col-sm-12 col-sm-12-interv">

                    <span class="value-text">{{getValue('codEmergenza')}}</span>
                </div>
            </div>

            <div class="col-xs-3" style="padding:0px;margin:0px" (click)="viewDetail('DATA E ORA ATTIVAZIONE', interventionActiveCard.dataOraSegnalazioneObject.detailArray, 500)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('dataOraSegnalazione')}">{{getLabel('dataOraSegnalazione')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('dataOraSegnalazione')}}</span>
                </div>
            </div>

        </div>

        <div class="row">

            <!--    <div class="col-sm-1">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label">PROV </span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{interventionActiveCard.prov}}</span>
                </div>
            </div>-->

            <div class="col-sm-5">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('comune')}">{{getLabel('comune')}}</span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('comune')}}</span>
                </div>
            </div>

            <div class="col-sm-7" (click)="viewDetail('LOCALITA', interventionActiveCard.localitaObject.detailArray, 600)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('localita')}">{{getLabel('localita')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('localita')}}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-9" (click)="viewDetail('INDIRIZZO', interventionActiveCard.indirizzoObject.detailArray, 600)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('indirizzo')}">{{getLabel('indirizzo')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('indirizzo')}}</span>
                </div>
            </div>

            <div class="col-sm-1">
                <div class="col-sm-2">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('civico')}">{{getLabel('civico')}}</span>
                </div>
                <div class="col-sm-2">
                    <span class="value-text">{{getValue('civico')}}</span>
                </div>
            </div>


            <div class="col-sm-1">
                <div class="col-sm-2">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('piano')}">{{getLabel('piano')}}</span>
                </div>
                <div class="col-sm-2">
                    <span class="value-text">{{getValue('piano')}}</span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-12-interv" (click)="viewDetail('LUOGO PUBBLICO', interventionActiveCard.luogoPubblicoObject.detailArray, 600)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('luogoPubblico')}">{{getLabel('luogoPubblico')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>

                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('luogoPubblico')}}</span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4" (click)="viewDetail('PERSONA RIFERIMENTO', interventionActiveCard.personaRifObject.detailArray, 600)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('personaRif')}">{{getLabel('personaRif')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="ellipsis">{{getValue('personaRif')}}</span>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="col-sm-10 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('telefono')}">{{getLabel('telefono')}} </span>
                </div>
                <div class="col-sm-10 col-sm-12-interv">
                    <span class="value-text">{{getValue('telefono')}}</span>
                </div>
            </div>



            <div class="col-xs-2">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('nPazienti')}">{{getLabel('nPazienti')}}</span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('nPazienti')}}</span>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('sex')}">{{getLabel('sex')}} </span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('sex')}}</span>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('eta')}">{{getLabel('eta')}}</span>
                </div>
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getValue('eta')}}</span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 col-sm-12-interv" (click)="viewDetail(getLabel('note'), getValue('note'), 600)">
                <div class="col-sm-12 col-sm-12-interv">
                    <span class="label" [ngClass]="{'updateField' : isLabelUpdated('note')}">{{getLabel('note')}}</span>
                    <span class="smallButton">
                        <i class="fa fa-info-circle  fa-lg"></i>
                    </span>
                </div>

                <div class="col-sm-12 col-sm-12-interv">
                    <span class="value-text">{{getExtra('note','note1')}}</span>
                    <span class="ellipsis">{{getExtra('note','note2')}}</span>
                </div>
            </div>
        </div>
    </section>
</div>