<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="SDODAEServices"
	version="3.0">
	<display-name>SDODAEServices</display-name>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>


	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>/WEB-INF/logback.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
	</context-param>

	<context-param>
		<param-name>confPath</param-name>
		<param-value>classpath:/it/eng/areas/ems/sdodaeservices/conf/</param-value>
	</context-param>

	<context-param>
		<param-name>confPathAbsolute</param-name>
		<param-value>file:${catalina.base}/conf/sdodae/</param-value>
	</context-param>
	<!-- <filter> <filter-name>CorsFilter</filter-name> <filter-class>org.apache.catalina.filters.CorsFilter</filter-class> </filter> <filter-mapping> <filter-name>CorsFilter</filter-name> <url-pattern>/*</url-pattern> </filter-mapping> -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>it.eng.areas.ems.sdodaeservices.war.WebAppConfiguration</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>it.eng.areas.ems.sdodaeservices.rest.RestApplication</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>