<!-- lista dei bottoni in sola lettura -->
<!--<ul class="list-group workflow-readonly">
    <ng-template ngFor let-rs [ngForOf]="readOnlyStatus">
        <a compact raised class="list-group-item checked-status-container">
            <div class="row sidebar-menu-item-container" style="margin:0px">
                <div class="col-md-3 sidebar-menu-item-icon">
                    <div class="checked-status-icon"><i class="fa fa-check fa-x-center"></i></div>
                </div>
                <div class="col-md-8 sidebar-menu-item checked-status-label">
                    <span>{{rs.label}}</span>
                </div>
                <div class="col-md-8 sidebar-menu-item checked-status-sublabel">
                    <span>{{rs.sublabel}}</span>
                </div>
            </div>
        </a>
    </ng-template>

</ul>-->
<ng-template ngFor let-s [ngForOf]="allStatus">
    <app-workflow-status (onNewStatus)="newStatus($event)" [sactive]="s.type==='active'" [sreadonly]="s.type==='readonly'" [sdisabled]="s.type==='disabled'"
        [items]="s.status"></app-workflow-status>
</ng-template>


<!-- lista dei bottoni cliccabili write mode -->

<!-- lista dei bottoni disabled -->
