.mat-grid-tile {
    background: #072c3f;
    color: #fff;
}

.mat-grid-tile-active {
    background-color: #006b84 !important;
}

.mat-grid-tile:hover {
    background-color: #006b84 !important;
}

.mat-grid-tile:active {
    background-color: #006b84 !important;
}

.mat-grid-tile:focus {
    background-color: #006b84 !important;
}

.pull-left {
    position: relative;
    left: calc(100% - 119%);
}

.pull-right{
    position: relative;
    right: calc(100% - 119%);
}

.mat-button {
    /* font-size: 25px; */
    padding: 3rem;
    font-size: 3rem;
    margin-left:10px;
    margin-right:10px;
}

.btn-xlg{
    width: 47%;
}

.btn-value {
    position: absolute; left: 21%; bottom: 23%; right: 20%;
}