<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Cercare un elemento" value="">
        </mat-form-field>
    </form>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile [ngClass]="{'mat-grid-tile-active': selected?.description === item?.description}" (click)="itemSelected(item)"
            *ngFor="let item of items">{{item.description}}</mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions class="align-items-center h-100 justify-content-center pull-center" style="margin-right: 25%;">
    <!--<button mat-raised-button mat-dialog-close>No</button>-->
    <!-- Can optionally provide a result for the closing dialog. -->
    <!-- <button mat-raised-button >OK</button> -->
    <button class="pull-left" style="background-color: #eb1b4c" mdcButton [raised]="true" mat-button [mat-dialog-close]="false">
        <span class="btn-value">Annulla</span>
    </button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button class="pull-right" mat-button mdcButton [raised]="true" (click)="confirm()">
        <span class="btn-value">OK</span>
    </button>
</mat-dialog-actions>