<div *ngIf="!intervention">
    <div [mdcElevation]="15" [animateTransition]="true" class="sideabar-version">
        <div style="margin-top:5px;">
            <a>
                <img id="imgLogo" style="
                    width: 100px;
                    height: 55px;
                    margin-left: 0px;
                    padding: 1px;" height="50px" src="assets/images/logo-header.png" />
            </a>
            <span style="color:#00e7ff; font-size: 15px">EMSMOBILE {{appVersion}}</span>
        </div>

        <!--   <div class="row" style="margin-left: -18px;/* height: 34px; *//* top: 38px; */margin-top: 6px;">
            <li>
                <a>
                    <img style="
                    width: 100px;
                    height: 55px;
                    margin: 0px;
                    padding: 0px;" height="50px" src="assets/images/logo-header.png" />
                </a>
            </li>
            <div>
                <span style="color:#00e7ff">EMS MOBILE 1.0</span>
            </div>

        </div> -->
    </div>
    <nav [mdcElevation]="15" [animateTransition]="true" class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
        <ul class="list-group">
            <app-sidebar-workflow-turno></app-sidebar-workflow-turno>

            <a id="dump118" mdcButton compact raised routerLink="/dump118" [routerLinkActive]="['router-link-active']" class="list-group-item"
                style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'dump118'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'dump118'}">

                        <a class="mdi mdi-google-circles-extended mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'dump118'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'DUMP 118' | translate }}</span>
                    </div>
                </div>
                <div [hidden]="hideArrow" class="arrow-right"></div>
            </a>

            <a *ngIf="refreshEnabled" id="refresh" (click)="refreshGUI()" mdcButton compact raised class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'exit'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'exit'}">

                        <a class="mdi mdi-refresh mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'exit'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'REFRESH' | translate }}</span>
                    </div>
                </div>
                <!-- <div [hidden]="hideArrow" class="arrow-right"></div> -->
            </a>
            <a id="exit" (click)="shutdownDevice()" mdcButton compact raised class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'exit'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'exit'}">

                        <a class="mdi mdi-power mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'exit'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'USCITA' | translate }}</span>
                    </div>
                </div>
                <!-- <div [hidden]="hideArrow" class="arrow-right"></div> -->
            </a>
            <!-- DISABILITATO COME RICHIESTO DA PAOLO
                 <a id="map"  mdcButton compact raised routerLink="/map" [routerLinkActive]="['router-link-active']"
                class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'map'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'map'}">


                        <a class="mdi mdi-map mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'map'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'Mappa' | translate }}</span>
                    </div>
                </div>
            </a> -->

            <!--  <a id="crewItem" [itemOrder]="3" [arrowInitalPosition]="312"  mdcButton compact raised routerLink="" [routerLinkActive]="['router-link-active']"
                class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'crewItem'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'crewItem'}">
                      

                        <a class="mdi mdi-account-multiple mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'crewItem'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'EQUIPAGGIO' | translate }}</span>
                    </div>
                </div>
            </a>
 -->

        </ul>
    </nav>
</div>
<div *ngIf="intervention">

    <div [mdcElevation]="15" [animateTransition]="true" class="sideabar-version">
        <div style="margin-top:5px;">
            <a>
                <img id="imgLogo" style="
                    width: 100px;
                    height: 55px;
                    margin-left: 0px;
                    padding: 1px;" height="50px" src="assets/images/logo-header.png" />
            </a>
            <span style="color:#00e7ff; font-size: 15px">EMSMOBILE {{appVersion}}</span>
        </div>
    </div>
    <nav id="intervention-menu" [mdcElevation]="15" [animateTransition]="true" class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
        <ul class="list-group">
            <!-- *ngIf="this.activeElement === 'newIntervention' || this.activeElement === 'dump118'"  -->

            <app-sidebar-workflow [ngClass]="{'menu-item-hidden': this.inPatient === 'true'}" (onNewStatus)="newStatus($event)">
                <!--*ngIf="!openPatientElement"-->

            </app-sidebar-workflow>

            <a id="newIntervention" mdcButton compact raised (click)="navigateTo('/intervention/newIntervention')" [routerLinkActive]="['router-link-active']"
                class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'newIntervention'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'newIntervention'}">
                        <a class="mdi mdi-clipboard-text mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'newIntervention'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'Intervento' | translate }}</span>
                    </div>
                </div>
                <div [hidden]="this.activeElement != 'newIntervention'" class="arrow-right"></div>
            </a>
            <!--   <a id="cardValutazSan" mdcButton compact raised routerLink="/intervention/patient/cardValutazSan" [routerLinkActive]="['router-link-active']" -->
            <a id="cardValutazSan" mdcButton compact raised (click)="navigateTo('/intervention/patient/patientCard')" class="list-group-item"
                style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'cardValutazSan' }">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'cardValutazSan'}">
                        <a class="mdi mdi-clipboard-account mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'card'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'Paziente' | translate }}</span>
                    </div>
                </div>
                <div [hidden]="this.activeElement != 'cardValutazSan'" class="arrow-right"></div>
            </a>

            <a mdcButton compact raised [ngClass]="{'menu-item-hidden': this.inPatient === 'false'}" (click)="navigateTo('/intervention/patient/cardValutazSan')"
                class="list-group-item" style="padding: 0px">
                <!-- *ngIf="openPatientElement" -->
                <div class="row sidebar-menu-item-container-submenu" [ngClass]="{'sidebar-active-text': this.activeElement === 'cardValutazSan' || this.activeElement === 'cardValutazSan'}">
                    <div class="col-md-1">
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'cardValutazSan'  || this.activeElement === 'cardValutazSan'}"
                        class="sidebar-menu-item-submenu">
                        <span>&nbsp;{{ 'Valutazione Sanitaria'}}</span>
                    </div>
                </div>
            </a>

            <!-- [routerLinkActive]="['router-link-active']"  routerLink="/intervention/patient/cardDatiAnagrafici" -->
            <!-- *ngIf="this.activeElement === 'cardValutazSan' ||  this.activeElement === 'cardValutazSan' || this.activeElement === 'cardDatiAnagrafici' || this.activeElement === 'cardDatiClinici'" -->
            <a id="cardDatiAnagrafici" [ngClass]="{'menu-item-hidden': this.inPatient === 'false'}" mdcButton compact raised (click)="navigateTo('/intervention/patient/cardDatiAnagrafici')"
                class="list-group-item" style="padding: 0px">
                <!-- *ngIf="openPatientElement" -->
                <div class="row sidebar-menu-item-container-submenu" [ngClass]="{'sidebar-active-text': this.activeElement === 'cardDatiAnagrafici'}">
                    <div class="col-md-1">
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'cardDatiAnagrafici'}" class="sidebar-menu-item-submenu">
                        <span>&nbsp;{{ 'Dati Anagrafici'}}</span>
                    </div>
                </div>
            </a>
            <!-- *ngIf="this.activeElement === 'card' ||  this.activeElement === 'cardValutazSan' || this.activeElement === 'cardDatiAnagrafici' || this.activeElement === 'cardDatiClinici'" -->
            <a id="cardDatiClinici" mdcButton compact raised [ngClass]="{'menu-item-hidden': this.inPatient === 'false'}" (click)="navigateTo('/intervention/patient/cardDatiClinici')"
                class="list-group-item" style="padding: 0px">
                <!-- *ngIf="openPatientElement" -->
                <div class="row sidebar-menu-item-container-submenu" [ngClass]="{'sidebar-active-text': this.activeElement === 'cardDatiClinici'}">
                    <div class="col-md-1">
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'cardDatiClinici'}" class="sidebar-menu-item-submenu">
                        <span>&nbsp;{{ 'Dati Clinici'}}</span>
                    </div>
                </div>
            </a>


            <a id="dump118" mdcButton compact raised (click)="navigateTo('/intervention/dump118')" class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'dump118'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'dump118'}">

                        <a class="mdi mdi-google-circles-extended mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'dump118'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'DUMP 118' | translate }}</span>
                    </div>
                </div>
                <div [hidden]="this.activeElement != 'dump118'" class="arrow-right"></div>
            </a>
            <!-- DISABILITATO COME RICHIESTO DA PAOLO
             <a id="map" [arrowInitalPosition]="471" [itemOrder]="4"  mdcButton compact raised routerLink="/map" [routerLinkActive]="['router-link-active']"
                class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'map'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'map'}">


                        <a class="mdi mdi-map mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'map'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'Mappa' | translate }}</span>
                    </div>
                </div>
            </a> -->

            <!--  <a id="crewItem" [arrowInitalPosition]="471" [itemOrder]="7"  mdcButton compact raised routerLink="" [routerLinkActive]="['router-link-active']"
                class="list-group-item" style="padding: 0px">
                <div class="row sidebar-menu-item-container" [ngClass]="{'sidebar-active-text': this.activeElement === 'crewItem'}">
                    <div class="col-md-3 sidebar-menu-item-icon" [ngClass]="{'sidebar-active-icon': this.activeElement === 'crewItem'}">
                        

                        <a class="mdi mdi-account-multiple mdi-36px"></a>
                    </div>
                    <div [ngClass]="{'sidebar-active-text': this.activeElement === 'crewItem'}" class="sidebar-menu-item">
                        <span>&nbsp;{{ 'EQUIPAGGIO' | translate }}</span>
                    </div>
                </div>
            </a> -->


        </ul>
    </nav>
</div>