$topnav-background-color: #03161f;
$topnav-height: 65px;
$sidebar-border-bottom-color: #263238;
[mdcButton] {
    /*  margin-right: 16px;
    margin-bottom: 16px; */
    height: 51px;
}

.mdi-36px{
    font-size: 36px !important;
}

.mdc-button{
    font-size: 36px !important;
}


.sidebar-menu-item {
    font-size: 1.1rem;
    line-height: 2;
    padding-left: 1%;
    padding-top: 1%;
}

.sidebar-menu-item-submenu {
    font-size: 0.8rem;
    line-height: 4;
    padding-left: 1%;
    padding-top: 1%;
    background-color: #072c3f;
}


/*
.sidebar-menu-item-container {
    height: 50px;
    margin-right: -23px;
    .sidebar-menu-item-icon {
        margin: 0px;
        background-color: #072c3f;
        color: #fff;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
    }
    /*.sidebar-menu-item-icon-active {
        margin: 0px;
        background-color: #00e7ff;
        color: #072c3f;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
    }
    .sidebar-menu-item-active {
        margin: 0px;
        background-color: #072c3f;
        color: #00e7ff;
    }
    .sidebar-menu-item {
        margin: 0px;
        background-color: #03161f;
        color: #fff;
         :focus {
            background-color: #072c3f;
            color: #00e7ff;
        }
    }
    }*/

.sideabar-version {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border-radius: 5px;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #072c3f;
    border-bottom-color: $sidebar-border-bottom-color;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.intervention {
    top: 0px !important;
}

.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: $topnav-height;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border-top-color: $sidebar-border-bottom-color;
    border-top-style: solid;
    border-top-width: 2px;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);   
    .list-group {
        a.list-group-item {
            background: #03161f;
            border-radius: 0;
            color: #ecf0f1;
            text-decoration: none;
            border-bottom-color: $sidebar-border-bottom-color;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            .fa {
                margin-right: 10px;
                 :focus {
                    background: #00e7ff;
                    color: #072c3f;
                }
            }
            .row.sidebar-menu-item-container {
                height: 50px;
                margin-right: -23px;
                a:focus {
                    background: #00e7ff;
                    color: #072c3f; 
                }
                *.router-link-active {
                    background: #072c3f;
                    color: #00e7ff;
                }
                *.sidebar-menu-item-icon {
                    margin: 0px;
                    background-color: #072c3f;
                    color: #fff;
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-top: 8px;
                }
                *.sidebar-menu-item:focus {
                    background: #072c3f;
                    color: #00e7ff;
                }
                *.sidebar-menu-item-icon:focus {
                    background: #00e7ff;
                    color: #072c3f; 
                }
            }
            .row.sidebar-menu-item-container-submenu {
                height: 50px;
                margin-right: -23px;
                background-color: #072c3f;
                a:focus {
                    background: #00e7ff;
                    color: #072c3f; 
                }
                *.router-link-active {
                    background: #072c3f;
                    color: #00e7ff;
                }
                *.sidebar-menu-item-icon {
                    margin: 0px;
                    background-color: #072c3f;
                    color: #fff;
                    padding-left: 10px;
                    padding-right: 5px;
                    padding-top: 8px;
                }
                *.sidebar-menu-item:focus {
                    background: #072c3f;
                    color: #00e7ff;
                }
                *.sidebar-menu-item-icon:focus {
                    background: #00e7ff;
                    color: #072c3f; 
                }
            }
        }
        .menu-item {
            border-bottom-color: $sidebar-border-bottom-color;
            border-bottom-style: solid;
            border-bottom-width: 3px;
        }
        a:focus {
            background: #072c3f;
            color: #00e7ff;
        }
        *.router-link-active {
            background: #072c3f;
            color: #00e7ff;
        }
        *.sidebar-menu-item-icon:focus {
            background: #00e7ff;
            color: #072c3f;
        }
        *.sidebar-menu-item:focus {
            background: #072c3f;
            color: #00e7ff;
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #ecf0f1;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:focus,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:focus {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:focus {
                        color: #fff;
                    }
                }
                .list-group-item:focus {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}

.arrow-right {
   /*  width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 14px solid #072c3f !important;
    position: fixed;
    left: 235px;
    z-index: 100000;        
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; */

        /* width: 160px; */
        height: 33px;
        border-top: 15px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 14px solid #00e7ff !important;
        position: absolute;
        z-index: 100000;
        -webkit-transition: all 0.3s linear;
        /* transition: all 0.3s linear; */
        /* bottom: 44%; */
        /* top: calc(100% - 10%); */
        left: 93%;
        top: 18%
  }
  

.sidebar-active-icon{
    background: #00e7ff !important;
    color: #072c3f !important; 
}

.sidebar-active-text{
    background: #072c3f !important;
    color: #00e7ff !important;
}


.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

/* @media screen and (max-width: 992px) {
    .sidebar {
        top: 0px;
        left: 0px;
    }
} */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);


}

.menu-item-hidden{
    height: 0px;
    display: none;
}