<h2 mat-dialog-title style="padding-left:10px;">{{title}}</h2>
<mat-dialog-content id="style-1">
    <mat-table #table [dataSource]="dataSource" matSort>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        <ng-container matColumnDef="subgroup">
            <mat-header-cell *matHeaderCellDef>SEZIONE</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.subgroup?.toUpperCase()}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>NOME</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

    </mat-table>
</mat-dialog-content>
<mat-dialog-actions class="align-items-center h-100 justify-content-center pull-center" style="margin-right: 25%;">
    <!--<button mat-raised-button mat-dialog-close>No</button>-->
    <!-- Can optionally provide a result for the closing dialog. -->
    <!-- <button mat-raised-button >OK</button> -->
    <button class="btn-xlg pull-left" style="background-color: #eb1b4c" mdcButton [raised]="true" mat-button [mat-dialog-close]="false">
        <span class="btn-value">NO</span>
    </button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button class="btn-xlg pull-right" mat-button mdcButton [raised]="true" [mat-dialog-close]="true">
        <span class="btn-value">SI</span>
    </button>
</mat-dialog-actions>