.mat-radio-button {    
    margin-left: 20px !important;
    color: #072C3F !important;
}

.mat-select {
    display: inline-block;
    width: 100%;
    outline: 0;
    //background-color: white;
    //height: 50px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 12px;
    border-radius: 2px;
    background-color: #ecf0f1;
    height: 45px;
}