<script type="text/ng-template" id="interventoRowTemplate.html">
  <div style="background-color:white;padding-left:30px;">
    <div class="row">
      <div class="col-md-2" ng-show="row.entity.dataAccettazione">
        <div>
          <b>Data Accettazione</b>
        </div>
        <div>
          {{grid.appScope.formatDate(row.entity.dataAccettazione)}}
        </div>
      </div>
      <div class="col-md-2" ng-show="row.entity.dataRifiuto">
        <div>
          <b>Data Rifiuto</b>
        </div>
        <div>
          {{grid.appScope.formatDate(row.entity.dataRifiuto)}}
        </div>
      </div>
      <div class="col-md-2" ng-show="row.entity.dataRifiuto">
        <div>
          <b>Rifiutato Da</b>
        </div>
        <div>
          {{row.entity.rifiutatoDa == 'SYSTEM' ? 'Centrale Operativa' : 'Utente' }}
        </div>
      </div>
      <div class="col-md-3" ng-show="row.entity.dataChiusura">
        <div>
          <b>Data Arrivo sul Posto</b>
        </div>
        <div>
          {{grid.appScope.formatDate(row.entity.dataChiusura)}}
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="notifyModal.html">
  <div class="modal-header">
    <span class="panel-icon">
      <i class="fa fa-bell"></i>
    </span>
    <h3 class="modal-title" id="modal-title">Notifiche</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-2 form-group">
        <label>Email</label>
      </div>
      <div class="col-md-10 form-group">
        <input class="form-control" ng-model="filterValue" ng-change="refresh()">
      </div>
    </div>
    <div ui-grid="gridNotificcheOptions" ui-grid-pagination class="gridDAE"></div>
    <div class="row">
      <div class="col-md-6 ">
        <div class=" btn-container  pull-left">
          <button type="button" class="btn btn-primary" ng-click="gridNotificheApi.pagination.previousPage()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary" ng-click="gridNotificheApi.pagination.nextPage()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media pull-right" style="padding: 5px">
          <span class="media-title">Pagina: {{ gridNotificheApi.pagination.getPage() }} di {{ gridNotificheApi.pagination.getTotalPages() }}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class=" btn-group">
      <button class="btn btn-primary" type="button" ng-click="$dismiss('cancel')">OK</button>
      <button class="btn btn-primary" type="button" ng-click="exportCSV()">
        <i class="fa fa-th " aria-hidden="true"></i> Esporta</button>
    </div>
  </div>
</script>




<div class="row">
  <div class="form-group col-md-3">
    <label>Cartellino</label>
    <input class="form-control" value="{{event.coRiferimento}} - {{event.cartellino}}" disabled>
  </div>

  <div class="form-group col-md-3">
    <label>Data Creazione</label>
    <input class="form-control" value="{{formatDate(event.timestamp)}}" disabled>
  </div>

  <div class="form-group col-md-3">
    <label>Data Chiusura</label>
    <input class="form-control" value="{{formatDate(event.closeDate)}}" disabled>
  </div>

  <div class="form-group col-md-3">
    <label>Data Annullamento</label>
    <input class="form-control" value="{{formatDate(event.abortDate)}}" disabled>
  </div>

</div>
<div class="row">
  <div class="form-group col-md-3">
    <label>Luogo</label>
    <input class="form-control" ng-model="event.luogo" disabled>
  </div>
  <div class="form-group col-md-3">
    <label>Telefono</label>
    <input class="form-control" ng-model="event.telefono" disabled>
  </div>
  <div class="form-group col-md-3">
    <label>Info</label>
    <input class="form-control" ng-model="event.info" disabled>
  </div>
  <div class="form-group col-md-3">
    <label>Riferimento</label>
    <input class="form-control" ng-model="event.riferimento" disabled>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-3">
    <label>Categoria FR</label>
    <input class="form-control" ng-model="event.categoria.descrizione" disabled>
  </div>
  <div class="form-group col-md-3">
    <label>Comune</label>
    <input class="form-control" ng-model="event.comune" disabled>
  </div>
  <div class="form-group col-md-3">
    <label>Indirizzo</label>
    <input class="form-control" ng-model="event.indirizzo" disabled>
  </div>
  <div class="form-group col-md-3">
    <label>Civico</label>
    <input class="form-control" ng-model="event.civico" disabled>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-3">
    <div class="row ">
      <div class="form-group col-md-12">
        <label>Defibrillato</label>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-12">
        <switch on="SI" off="NO" id="activeProfile" name="activeProfile" ng-model="event.defibrillato" class="green"></switch>
      </div>
    </div>
  </div>
  <div class="form-group col-md-9">
    <label>Note Gestione DAE</label>
    <textarea class="form-control" ng-model="event.noteDAE" rows="2"></textarea>
  </div>
</div>
<div class="btn-container pull-right">
  <div class="btn-group">
    <button class="btn btn-primary" ng-click="exportInterventiCSV()">
      <i class="fa fa-th " aria-hidden="true"></i> Esporta</button>
    <button ng-click="showMap()" class="btn btn-primary">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      Mostra Mappa</button>
    <button ng-click="showNotify()" class="btn btn-primary">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      Notifiche</button>
    <button ng-click="saveEvent()" class="btn btn-primary">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Salva</button>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <div class="row">
      <div class=" col-md-6">
        <h2>Interventi</h2>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-1">
        <label>Filtro</label>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" ng-model="filterInterventi" ng-change="refreshInterventi()">
      </div>
    </div>
    <div ui-grid="gridInterventiOptions" ui-grid-expandable ui-grid-pagination class="gridDAE"></div>
    <div class="row">
      <div class="col-md-6">
        <div class=" btn-container  pull-left">
          <button type="button" class="btn btn-primary" ng-click="gridInterventiApi.pagination.previousPage()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary" ng-click="gridInterventiApi.pagination.nextPage()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media pull-right" style="padding: 5px">
          <span class="media-title">Pagina: {{ gridInterventiApi.pagination.getPage() }} di {{ gridInterventiApi.pagination.getTotalPages() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>