<link rel="stylesheet" href="styles/login.css">
<div>
    <div class="layout-app">
        <div class="layout-app-content dashboard page-login clearfix">

            <div class="panel-login">
                <h2>Aggiorna la Password</h2>
                <div>
                    <form name="userForm" validate>
                        <div class="form-group">
                            <label>Vecchia Password</label>
                            <input name="oldpassword" type="{{showPwd? 'text' : 'password'}}" class="form-control" ng-model="oldPassword" />
                        </div>
                        <div class="form-group">
                            <label-validated label="Nuova Password" message="Inserire una password valida" class="{'form-group': false, 'has-error':password.$invalid}" name="password"> </label-validated>
                            <input name="password" type="{{showPwd? 'text' : 'password'}}" class="form-control" ng-model="password" ui-validate="{required: 'validatePassword($value)'}" />

                            <uib-progressbar value="passwordStreght" type="{{passwordStreghtType}}" max="100" style="margin-top:10px;"></uib-progressbar>
                        </div>
                        <div class="form-group">
                            <label-validated label="Ripeti Password" message="Ripetere la stessa password" class="{'form-group': false, 'has-error':repeatPassword.$invalid}" name="repeatpassword"></label-validated>
                            <input name="repeatpassword" type="{{showPwd? 'text' : 'password'}}" class="form-control" ng-model="repeatPassword" placeholder="Password" ui-validate="{required: 'validateRepeatPassword($value)'}" ui-validate-watch=" 'password' " />
                        </div>
                        <div class="form-group">
                            <label>Visualizza Password</label>
                            <input type="checkbox" name="showpwd" ng-model="showPwd" />
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" ng-click="changePassword()">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              Salva
                              </button>
                            <button class="btn btn-danger" type="button" ng-click="cancel()">
                              Annulla
                              <i class="fa fa-undo" aria-hidden="true"></i>
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
