
$imagePath : "/img/";

.left {
    float: left;
}
.right {
    float: right;
}

.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.8;
}

.no-padding{
    padding:0 !important;
}

.no-padding-vertical{
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{
    margin-top: 0px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px !important;
    margin-top: 0px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header {
    //top: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 44px !important;
}
.popup-head{
    h3{
        font-size: 18px;
    }
}
.popup-body{
    font-size: 130%;
}

.popup-buttons{
    .button {
        font-size: 130%;
    }
}

.popup-container{
    z-index: 90;
}

// Aggiunte alle classi col mancanti di Ionic
.col-5 {
    @include col(5%);
}
.col-15 {
    @include col(15%);
}
.col-30 {
    @include col(30%);
}
.col-35 {
    @include col(35%);
}
.col-45 {
    @include col(45%);
}
.col-55 {
    @include col(55%);
}
.col-65 {
    @include col(65%);
}
.col-85 {
    @include col(85%);
}
.col-95 {
    @include col(95%);
}
.col-100 {
    @include col(100%);
}

// Aggiunte classi col-offset mancati di Ionic
.col-offset-5 {
    @include col-offset(5%);
}
.col-offset-15 {
    @include col-offset(15%);
}
.col-offset-30 {
    @include col-offset(30%);
}
.col-offset-35 {
    @include col-offset(35%);
}
.col-offset-45 {
    @include col-offset(45%);
}
.col-offset-55 {
    @include col-offset(55%);
}
.col-offset-65 {
    @include col-offset(65%);
}
.col-offset-85 {
    @include col-offset(85%);
}
.col-offset-95 {
    @include col-offset(95%);
}

.text-bold {
    font-weight: bold;
}

button.button {
    // iphone < 6
    @media (max-width: 320px) {
        font-size: 15px;
        min-height: 42px;
        //max-height: 1px;
        line-height: 35px;
    }
}


.error-messages{
    display: none;
}

.md-input-invalid{
    .error-messages{
        display: block;
    }
}


.md-select-menu-container, .md-select-value{
    font-size:18px !important; 
    @media (max-width: 320px) {
        font-size: 16px !important; 
    }
}

