

$light:             #fff !default;
$stable:            #f8f8f8 !default;
$dark:              #8a8a8a !default;
$very-dark:         #000000 !default;


$text-default:      #444444;


$royal:             #002D56 !default;    // Sezione Login

$positive:          #036615 !default;    // Sezione Messaggi
$balanced:          #e2001a !default;    // Sezione Donazioni
$calm:              #00809D !default;    // Sezione Appuntamenti
$energized:         #7ACC43 !default;    // Sezione Centro
$assertive:         #EB1B4C !default;    // Sezione Profilo

$dark-calm:         #1C5B6A !default;

$donations:         #a20202 !default;
$header-border:     #C3C3C3 !default;
$icon-bg:           #C3C3C3 !default;
$light-gray:        #DFDFDF !default;
$light-orange:      #FFF4D5 !default;
$message-icon:      #9b9586 !default;
$message-date:      #4e4e4e !default;
$color_primary:     #036615 !default;
$color_accent:      #e2001a !default;
$color_card:        #F7F5F6 !default;


$calendar-day-selected : #E5E5E5 !default;

$input-color-placeholder: lighten($dark, 20%) !default;
$appointments-tabs-background:   #444444 !default;
$appointments-tab-selected-background:   #055365 !default;
$refCenter-tabs-background:   #444444 !default;
$refCenter-tab-selected-background: #557b4e !default;
$carousel-background-color: #D7F0C6 !default;


$border:            $header-border;