<div [@.disabled]="disableAnimation" [@routerTransition] style="height: 85vh;">
    <div mdcCard class="custom-card--with-avatar">
        <section mdcCardPrimary>
            <div class="custom-card__avatar"></div>
            <h1 mdcCardTitle class="col-md-12">Mappa</h1>
            <h2 mdcCardSubtitle class="col-md-12">In questa card deve essere visualizzata la mappa rispetto alla posizione corrente del mezzo
            </h2>
        </section>
        <section mdcCardMedia class="custom-card__16-9-media"></section>
        <section mdcCardText>

        </section>
        <section mdcCardActions compact>
            <button mdcButton>Action 1</button>
            <button mdcButton>Action 2</button>
        </section>
    </div>
</div>