<ion-view id="dae-content" cache-view="false" title="Lista Dae">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons>
    <div layout="column" layout-fill style="height:100vh">
        <md-tabs md-selected="vm.selectedIndex" md-stretch-tabs class="stretch-height" md-border-bottom flex="100" md-center-tabs="true">
            <md-tab>
                <md-tab-label>
                    <div layout="row" layout-align="space-around center">
                        <div>Lista</div>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <ion-content class="has-tabs">
                        <ion-list>
                            <ion-item ng-click="vm.goToState('app.daeDetail', dae)"
                                      collection-repeat="dae in vm.localizedDae"
                                      class="list-dae item-thumbnail-left item-icon-right">
                                <img ng-if="dae.disponibilita.isAvailable" ng-src="{{'img/dae_green.png'}}"
                                     class="imgdae"/>
                                <img ng-if="!dae.disponibilita.isAvailable" ng-src="{{'img/dae_gray.png'}}"
                                     class="imgdae"/>
                                <h2>{{dae.nomeSede}}</h2>
                                <p>{{dae.gpsLocation.indirizzo.name}}, {{dae.gpsLocation.civico}}</p>
                                <p>{{dae.gpsLocation.comune.nomeComune}}</p>
                                <p>{{dae.distance.distance | number:3}} {{dae.distance.unit | textToUnit}}</p>
                                <i class="icon dae-angle-right md-primary-color"></i>
                            </ion-item>
                        </ion-list>
                        <ion-infinite-scroll
                                ng-if="!vm.noMoreDaeAvailable"
                                on-infinite="vm.getDAEForList()"
                                distance="1%"
                                immediate-check="false">
                        </ion-infinite-scroll>
                    </ion-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <div layout="row" layout-align="space-around center" class="tabLabel">
                        <div>Mappa</div>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <div ng-if="!vm.pauseLoading" style="height: 100%">
                        <div style="height: 100%" map-lazy-load="https://maps.google.com/maps/api/js"
                             map-lazy-load-params="{{vm.gmUrl}}">
                            <ng-map id="customMap"
                                    center="[{{vm.event.coordinate.latitudine}}, {{vm.event.coordinate.longitudine}}]"
                                    pan-control="false"
                                    map-type-control="false"
                                    map-type-control-options="{style:'DROPDOWN_MENU'}"
                                    street-view-control="false"
                                    zoom-control="false"
                                    zoom-control-options="{style:'SMALL'}"
                                    default-style="false">
                                <marker position="current-position"
                                        title="Hello World!"
                                        optimized="false"
                                        on-click="vm.showEvent(event, vm.event)"
                                        animation="Animation.DROP"
                                        icon="{
                                                url:'img/localize.png',
                                                scaledSize:[30,30]
                                            }">
                                </marker>
                                <marker position="[{{vm.event.coordinate.latitudine}}, {{vm.event.coordinate.longitudine}}]"
                                        title="Hello World!"
                                        on-click="vm.showDae(event, 1)"
                                        optimized="false"
                                        animation="Animation.DROP"
                                        icon="{
                                                url:'img/icon-alert.png',
                                                scaledSize:[50,50]
                                            }">
                                </marker>
                                <marker ng-repeat="(id, dae) in vm.localizedDae" id="{{id}}"
                                        position="[{{dae.gpsLocation.latitudine}}, {{dae.gpsLocation.longitudine}}]"
                                        on-click="vm.showDae(event, id)"
                                        icon="{{dae.icon}}"
                                        animation="Animation.DROP">
                                </marker>
                                <!--<info-window id="marker-info" template="templates/infoWindow.html">-->

                                <!--</info-window>-->
                                <info-window id="event-info" template="templates/eventInfoWindow.html">

                                </info-window>

                            </ng-map>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</ion-view>