<ion-view id="eventList" title="Lista Interventi">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
    <ion-content class="overflow-scroll" qy-toggle-overflow-scroll overflow-scroll="false">
        <md-card ng-repeat="event in vm.events" class="detail-card">
            <md-card-content class="no-padding-vertical">
                <div class="info">
                    <h3>Indirizzo</h3>
                    <p> {{ event.indirizzo }}{{event.indirizzo ? ", " : ""}}{{ event.civico }} </p>
                    <p> {{event.comune}}{{event.comune ? " - " : ""}}{{ event.provincia }} </p>
                </div>
            </md-card-content>
            <md-card-content class="no-padding-vertical">
                <div class="info">
                    <h3> Data ora emergenza:</h3>
                    <p>{{ event.timestamp | date : 'dd/MM/yyyy HH:mm'}}</p>
                </div>
            </md-card-content>
            <md-card-content class="no-padding-vertical">
                <div class="info row no-padding">
                    <div class="col col-50 no-padding">
                        <h3> Ora accettazione: </h3>
                        <p> {{ event.interventi[0].dataAccettazione | date : 'HH:mm'}} </p>
                    </div>
                    <div class="col col-50 no-padding">
                        <h3> Ora arrivo sul posto: </h3>
                        <p> {{ event.interventi[0].dataChiusura | date : 'HH:mm'}} </p>
                    </div>
                </div>
            </md-card-content>
            <md-card-content class="no-padding-vertical">
                <div class="info">

                </div>
            </md-card-content>
        </md-card>
    </ion-content>
</ion-view>