<ion-view id="profile" title="Profilo">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons>
    <!--end left button on navigation bar-->
    <ion-nav-buttons side="right">
        <a ng-click="vm.goToModify()" class="button buttons button-clear header-item nav-edit-profile">
            <i class="dae-edit"></i>
        </a>
    </ion-nav-buttons>
    <md-toolbar class="bar-subheader md-tall toolbar-medium">
        <!--<div ng-class="{'default': !vm.profile.immagine, 'photo': vm.profile.immagine  }">-->
        <!--<img ng-if="!vm.profile.immagine" src="img/omino.png"/>-->
        <!--<img ng-if="vm.profile.immagine" ng-src="{{config.imgUrl}}{{vm.profile.immagine.url}}"/>-->
        <!--</div>-->
        <div ng-class="{'default': !vm.profile.immagine, 'photo': vm.profile.immagine  }">
            <img id="photo" src="img/omino.png" />
        </div>
    </md-toolbar>
    <ion-content class="has-toolbar">
        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-man" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Nome e Cognome: </h3>
                        <p> {{ vm.profile.nome }} {{ vm.profile.cognome }} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-email" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Email: </h3>
                        <p> {{ vm.profile.email }}</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-phone-call" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Cellulare</h3>
                        <p> {{ vm.profile.numCellulare }} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-man" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Codice Fiscale </h3>
                        <p> {{ vm.profile.codiceFiscale}} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-maps" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3>Indirizzo</h3>
                        <p> {{ vm.profile.indirizzo.name }}{{vm.profile.indirizzo.name ? ", " : ""}}{{ vm.profile.civico }} </p>
                        <p> {{vm.profile.comuneResidenza.nomeComune}}{{vm.profile.comuneResidenza.nomeComune ? " - " : ""}}{{
                            vm.profile.comuneResidenza.provincia.nomeProvincia }} </p>
                    </div>
                </md-list-item>
                <!--    <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-work" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Professione: </h3>
                        <p> {{ vm.profile.professione.descrizione}}</p>
                    </div>
                </md-list-item> -->
                <md-list-item class="md-2-line md-long-text">
                    <md-icon md-font-icon="dae-warning" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3>Comuni su cui essere allertato se la localizzazione non è disponibile</h3>
                        <hr>
                        <div ng-repeat="element in vm.profile.comuniCompetenza">
                            <p> {{ element.nomeComune }}</p>
                            <hr>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-statoprofilo" ng-class="{'active': vm.profile.statoProfilo == 'ATTIVO', 'inactive': vm.profile.statoProfilo != 'ATTIVO' }"
                        class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Stato Profilo: </h3>
                        <p> {{ vm.profile.statoProfilo.toUpperCase() == 'ATTIVO' ? "Attivo" : "In attesa di attivazione" }} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-man" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Data Iscrizione: </h3>
                        <p> {{ vm.profile.dataIscrizione | date : 'dd MMMM yyyy'}} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-data" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Data conseguimento abilitazione: </h3>
                        <p> {{ vm.profile.certificatoFr.dataConseguimento | date : 'dd MMMM yyyy'}} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-docs" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Rilasciato da: </h3>
                        <p> {{ vm.profile.certificatoFr.rilasciatoDa }} </p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <md-icon md-font-icon="dae-ruolo" class="profile-icon"></md-icon>
                    <div class="md-list-item-text">
                        <h3> Categoria: </h3>
                        <p> {{ vm.profile.categoriaFr.descrizione }} </p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </ion-content>
</ion-view>