
	<div help-overlay="showHelp" overlay-start-callback="onStart(event)" overlay-stop-callback="onStop(event)"
     style="height: 100%;">
  <div class="container">
    <div class="jumbotron">
      <h1 data-intro="Project title" data-position="right">Chardin.js</h1>

      <p class="lead">
        Simple overlay instructions for your apps.
      </p>
      <img src="img/chardin.png"
           data-intro="An awesome 18th-century painter, who found beauty in everyday, common things."
           data-position="right"/>
      <a href="#" class="btn btn-large primary" data-toggle="chardinjs"
         data-intro="This button toggles the overlay, you can click it, even when the overlay is visible"
         data-position="left" ng-click="toggleHelp()">See it in action</a>
      <a href="" id="opentour" class="hide" data-toggle="chardinjs">Or open it again</a>

      <div class="credits">
        <p data-intro="Author of this plugin, aka Pablo Fernandez" data-position="right">
          Baked with
          <b>&lt;3</b>
          by
          <a href="https://github.com/heelhook">@heelhook</a>.
        </p>
      </div>
    </div>

    <div class="links">
      <p id="links" data-intro="Links to Github, Twitter, etc." data-position="bottom">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Check out Chardin.js, simple overlay instructions for apps" data-count="none" data-via="heelhookrc">Tweet</a>
        <a href="https://twitter.com/heelhookrc" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @heelhookrc</a>
      </p>
    </div>

    <div class="license">
      Code licensed under the
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
    </div>
  </div>
</div>