.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    height: 85vh;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.main-container-active {
    border: 1px solid;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.updateField{
    color: red !important;
}

.sectionWrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    // box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    padding: 10px;
    width: 100%;
}

.sectionWrapperCard{
    border: 1px solid rgba(0, 0, 0, .03);
    // box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    padding: 15px;
    /* padding: 0px 15px 0px 15px; */
    width: 100%;
    background-color: #072c3f;
    z-index: 1;
    height: 13vh;
    .title{
     color: #ecf0f1;
    }
    .fa{
        color: #ecf0f1 !important;
    }
}

.row {
    width: 100%;
    margin-top: 2px !important;
    margin-bottom: 7px !important;
}

.col-sm-12-interv {
    /*  padding-right: 0px !important;
    padding-left: 0px !important;*/
}

.pull-right {
    float: right !important;
    padding: 20px;
    //margin-top: 7px !important;
    //margin-left: 5px !important;
}

.fa-scheda {
    font-size: 3em;
    padding: 15px;
}

.title {
    color: #072C3F;
    font-size: 3em;
    padding: 15px;
}

.editIcon {
    font-size: 2em;
    padding: 5px;
}



.value-text {
    color: #072C3F;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
}

.value-text-disabled {
    color: grey;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
}

.ellipsis {
    color: #072C3F;
    max-width: 95%;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.value-text-G {
    background-color: yellow;
    text-align: center;
    /*   -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;*/
}

.value-text-R {
    background-color: red;
    text-align: center;
    /*   -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;*/
}

.value-text-V {
    background-color: green;
    text-align: center;
    /*   -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;*/
}

.value-text-B {
    background-color: white;
    text-align: center;
    /*   -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;*/
}

.value-text-DEFAULT {
    background-color: #ecf0f1;
    text-align: center;
    /*   -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;*/
}

.row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.smallButton {
    color: #006B84;
 //   float: right;
}

.label{
    color: #006B84;
    font-weight: bolder;
    font-size: 1.14em;    
}

.labelUpdate{
    color: green;
    font-weight: bolder;
    font-size: 1.14em;    
}


.label-card{
    color: #ecf0f1;// #006B84;
    font-weight: bold;
    font-size:1em;
}


.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 12px;
    border-radius: 2px;
    background-color:  #072C3F; // #ecf0f1;
   // height: 45px;  
    float: right !important;
    font-size: 1.3em;
    // padding: 20px;
    //margin-top: 7px !important;
    //margin-left: 5px !important;
}

.distancePanel{
padding: 0px;
/* top: -15px; */
bottom: 9px;
}



