<div class="header header-section">
  <div class="row">
    <div class="title col-11">
      <div class="media">
        <div class="pull-left" style="width:100%">
          <div class="section-icon section-avatar pull-left">
            <span alt="Estrazioni" class="media-object">
              <i class="fa fa-info" aria-hidden="true"></i>
            </span>
          </div>
          <div class="d-flex flex-column">
            <div>
              <span class="media-heading section-title donatore-title" [innerHtml]="getData(bannerModel?.headerTitle)"></span>
            </div>
            <!--<hr class="divider" />-->
            <!--<p class="media-subheading">{{bannerModel?.subheading}}</p>-->
            <div style="margin-left: 1px;">
              <div class="d-flex flex-row">
                <ng-template ngFor let-subh="$implicit" [ngForOf]="bannerModel?.subheadings" let-i="indexH">
                  <!--<p class="media-subheading" style="color: white">{{subh}}</p>-->
                  <div class="p-2" style="min-width: 150px;" [innerHtml]="getData(subh)">
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="bannerModel?.optionItems" class="pull-right buttons" style="margin-right: 0px; margin-left: 1%;">
      <a href="#" class="btn btn-primary" data-target="#dettagli-donatore" data-toggle="collapse">
        <i class="fa fa-chevron-down"></i>
        <span class="sr-only">Maggiori dettagli</span>
      </a>
      <!--<a href="donatori-ricerca.html" class="btn btn-danger"><i class="fa fa-times"></i><span class="sr-only">Chiudi processo</span></a>-->
    </div>
  </div>
</div>
<div id="dettagli-donatore" class="collapsible collapse in" style="height: auto; background-color: #041c28">
  <div class="header-section">
    <div class="row dettagli">
      <ng-template ngFor let-group="$implicit" [ngForOf]="bannerModel?.optionItems" let-i="indexDet">
        <div class="col-sm-3">
          <div class="media">
            <div class="pull-left">
              <div class="media-object img-circle">
                <i class="fa {{group.icon}}"></i>
              </div>
            </div>
            <div class="media-body">
              <dl class="dettaglio">
                {{group.name}}
              </dl>
              <dl class="dettaglio">
                <ng-template ngFor let-groupValue="$implicit" [ngForOf]="group.values" let-i="indexDetVal">
                  <dt>{{groupValue.key}}</dt>
                  <dd>{{groupValue.value}}</dd>
                </ng-template>
              </dl>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
