tbody {
  display: block;
  /*height: 40vh;*/
  height: 69vh;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.ctable-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  /*background-color: #00809d;*/
  background-color: rgba(0, 0, 0, 0.075)
}

thead {
  /*width: calc( 100% - 1em)*/
}

.search tbody tr.td-collapse-in td,
.search tbody tr.td-collapse-in:hover td,
.search tbody tr.td-collapse-in:focus td {
  background-color: #b4bcc2;
  border-color: #7c8b8c;
}
