<div class="table-responsive" style="height: auto; width: 101% !important; overflow-x: auto !important;">
  <table class="table ctable-hover search tablesaw togglable-table tablesaw-columntoggle" ngClass="{{config.className || ''}}"
    role="grid" data-minimap cellpadding="0" cellspacing="0">
    <thead>
      <tr class="table-row" role="row">
        <th [ngStyle]="column.style" style="font-size: 11px;" *ngFor="let column of columns" [ngTableSorting]="config" [column]="column"
          (sortChanged)="onChangeTable($event)" scope="col" data-sortable-col="" data-priority="persist" ngClass="{{column.className || ''}}">
          {{column.title}}
          <i *ngIf="config && column.sort" class="pull-right fa" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
        </th>
      </tr>
    </thead>

    <tbody class="areas-scrollable" #thisTable [ngStyle]="{'height': tbodyHeight}">

      <ng-template #allRows ngFor let-row="$implicit" [ngForOf]="rows" let-i="index" let-rowc>
        <tr [attr.id]="'rowsimple-'+i" class="table-row" bgcolor="aqua">
          <td [ngStyle]="column.style" [style.color]="row.fontColor" [style.background-color]="row.backgroundStyle" class="table-cell tablesaw-priority-5"
            *ngFor="let column of columns; let j = index" (click)="cellClick(i,j)">
            <span messageTooltip [ngStyle]="row?.rowStyyle" class="table-cell tablesaw-priority-5" [innerHtml]="sanitize(getData(row, column.name))">
              </span>
            <div *ngIf="column.options" class="d-inline-block" (openChange)="showRowMenu($event,row);" ngbDropdown #myDrop="ngbDropdown"
              style="background-color: transparent !important; float:right;">
              <span class="btn-group btn-group-sm">
              <button class="btn btn-primary" id="showDetail" [attr.data-target]="'#rowdetail-'+i" data-toggle="collapse"><i class="fa fa-info"></i></button>
              <button class="btn btn-primary" id="dropdownManual" ngbDropdownToggle></button>
              </span>
              <div class="dropdown-menu dropdown-menu-right action-menu" aria-labelledby="dropdownManual">
                <ng-template ngFor let-o="$implicit" [ngForOf]="row.optionItems" let-i="indexDet">
                  <button *ngIf="o.name!='SEPARATOR'" (click)="optionItemClick(row,column,o.eventSource,o.enabled,$event);" style="padding: 1px 1px 10px 10px"
                    [ngClass]="{'dropdown-item':true, 'action-item': true, 'disabled': !o.enabled }">
                  <i style="padding-right: 2px;" class="fa {{o.icon}}" aria-hidden="true"></i><span >{{o.name}} </span>                                 
                  </button>
                  <span *ngIf="o.name=='SEPARATOR'" class="divider"></span>
                </ng-template>
              </div>
            </div>
          </td>
        </tr>
        <tr>

          <td [attr.id]="'rowdetail-'+i" class="collapsible collapse in" colspan="100%">
            <div style="top: 1px !important" class="container-fluid">
              <div class="row dettagli">

                <ng-template ngFor let-group="$implicit" [ngForOf]="row.detail?.groups" let-i="indexDet">
                  <div class="col-sm-4">
                    <div class="media">
                      <div class="pull-left">
                        <div class="media-object img-circle">
                          <i class="fa {{group.icon}}"> </i>
                        </div>
                      </div>
                      <div class="media-body">
                        <dl>
                          {{group.name}}
                        </dl>

                        <dl class="dettaglio">
                          <ng-template ngFor let-groupVal="$implicit" [ngForOf]="group.values" let-i="indexDetVal">
                            <dt>{{groupVal.key}}</dt>
                            <dd>{{groupVal.value}}</dd>
                          </ng-template>
                        </dl>
                      </div>
                    </div>
                  </div>
                </ng-template>


              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
