$topnav-background-color: #00809d;
$topnav-height: 65px;
$success-color: #81b85c !default;
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 235px;
    /* z-index: 1030; */
    z-index: -1;
}

.material-header-item{
    /* height: 3.1em; */
    /* border-style: none; */
    border-right-style: ridge;
    border-right-color: rgba(0, 128, 157, 0.4196078431372549);;
    /* border-radius: 4%; */
}

.mr-item-first{
    border-left-style: ridge;
    border-left-color: rgba(0, 128, 157, 0.419608);
}

.logo {
    background-color: white !important;
    margin-right: 0px !important;
}

.clock-style {
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
}

.connected {
    color: $success-color;
}

.header-medium-font {
    font-size: 1.3rem;
}

:host {
    .navbar {
        background-color: $topnav-background-color;
        padding: 0px;
        height: $topnav-height;
        border-bottom-style: inset;
        border-color: #00809d;
        border-bottom-width: 4px;    
        .navbar-brand {
            color: #fff;
            /*  border-right: 0.1px;
            border-right-color: #072c3f;
            border-right-style: groove; */
            padding-right: 6px;
            height: $topnav-height;
        }
        .nav-link {
            color: #fff;
            /* border-right: 0.1px;
            border-right-color: #072c3f;
            border-right-style: groove; */
            padding-right: 6px;
            height: $topnav-height;
            display: block;
            /* padding-top: 5px !important; */
            /*padding-right: 1rem;*/
            padding-bottom: 0.5rem;
            /*padding-left: 1rem;*/
            .row {
                margin: 0px;
            }
        }
        a.nav-link.grouped {
            border: 0px !important;
            padding-right: 0.9em !important;
            padding-left: 0.9em !important;
        }
        .nav-item>a {
            color: #ecf0f1;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

/* .mat-icon {
    height: 32px;
    width: 32px;
} */

@mixin md-icon-size($size: 32px) {
    font-size: $size;
    height: $size;
    width: $size;
  }
  
  .mat-icon {
    @include md-icon-size(32px);
  }

button.mat-menu-item {
    line-height: 24px !important;
  }
  a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
  }
  .mat-icon svg {
    height: 64px;
    width: 64px;
  }



.material-icons {
    font-size: 32px;
    line-height: 1;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 24px;
    vertical-align: 7px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.mdi-battery-outline{
    color: red !important;
}

.mdi-battery-charging{
    color: red !important;
}


