<table ng-table="documentsTable" class="table table-striped">
	<tr ng-repeat="doc in data">
		<td data-title="'Codice'">{{doc.docReference}}</td>
		<td data-title="'Stato documento'">{{doc.state | docstate}} </td>
		<td data-title="'Data invio'">{{doc.sentDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
		<td data-title="'Data Apertura'">{{doc.openDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
		<td>
			<button ng-click="openDocument(doc.id)" type="button" class="btn btn-primary" aria-label="Left Align">
				  <span class="fa fa-external-link" aria-hidden="true"></span>
			</button>
		</td>
	</tr>
</table>
