<div id="searchPanel" class="panel-collapse" collapse="isSearchCollapsed" style="margin-left: 50px; margin-top: 50px; height: auto;">
	<div class="header-section">
		<div class="row container">
			<div class="col-xs-12 tag-category">Ricerca documenti</div>
			<div class="col-md-6">
				<div class="form-group">

					<label for="">Codice prenotazione</label> <input ng-model="bookingCode" type="text" class="form-control" id="codice-prenotazione" placeholder="Inserisci codice prenotazione"
						name="codice-prenotazione" />
				</div>
				<div class="form-group">
					<!-- 		<div class="input-group">
						<label for="">Dal</label> <span class="input-group-btn"> <input
							type="text" class="form-control"
							uib-datepicker-popup="{{format}}" ng-model="dt"
							is-open="popup1.opened" datepicker-options="options"
							ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" />
							<button class="btn btn-primary btn-calendar collapsed"
								type="button" ng-click="open1()">
								<span class="sr-only"></span><i class="fa fa-calendar-o"></i>
							</button>
						</span>
					</div> -->
					<div class="input-group">
						<label for="">Dal</label> <input uib-datepicker-popup="dd/MM/yyyy" type="text" class="form-control" id="fromDate" is-open="dateFromPopup.opened"
							datepicker-options="options" ng-model="dateFrom" placeholder="Inserisci data da" name="fromDate" ng-required="true"
							close-text="Chiudi" clear-text="Annulla" current-text="Oggi" alt-input-formats="altInputFormats" /> <span class="input-group-btn">
							<button class="btn btn-primary btn-calendar collapsed"
								type="button" ng-click="openDateFrom()">
								<span class="sr-only"></span><i class="fa fa-calendar-o"></i>
						</button>
						</span>
					</div>

					<!-- <div id="fromCalendar" class="panel-collapse" style="display: inline-block; float: right">
						<div uib-datepicker uib-collapse="isFromDateCollapsed" collapse="isFromDateCollapsed"  ng-model="dt" class="well well-sm"
							datepicker-options="options"></div>
					</div> -->
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">

					<label for="tipologia-donazione">Stato documento</label> <select class="form-control" ng-options="s as s.name for s in documentStates track by s.shade"
						ng-model="docStateFilter">
					</select>
				</div>
				<div class="form-group">

					<div class="input-group">
						<label for="">Al</label> <input uib-datepicker-popup="dd/MM/yyyy" type="text" class="form-control" id="toDate" is-open="dateToPopup.opened"
							datepicker-options="options" ng-model="dateTo" placeholder="Inserisci data al" name="toDate" ng-required="true"
							close-text="Chiudi" clear-text="Annulla" current-text="Oggi" alt-input-formats="altInputFormats" /> <span class="input-group-btn">
							<button class="btn btn-primary btn-calendar collapsed"
								type="button" ng-click="openDateTo()">
								<span class="sr-only"></span><i class="fa fa-calendar-o"></i>
						</button>
						</span>
					</div>

					<!--	<div class="input-group">
						<label for="">Al</label> <input type="text" class="form-control"
							id="dateTo" placeholder="Inserisci data al" name="dateTo" /> <span
							class="input-group-btn">
							<button class="btn btn-primary btn-calendar collapsed"
								type="button" ng-click="collapseDateTo()">
								<span class="sr-only"></span><i class="fa fa-calendar-o"></i>
							</button>
						</span>
					</div>
					<div id="toCalendar" class="panel-collapse"
						style="display: inline-block; float: right">
						<div uib-datepicker uib-collapse="isToDateCollapsed"
							collapse="isToDateCollapsed" ng-model="dt" class="well well-sm"
							datepicker-options="options"></div>
					</div> -->
				</div>
			</div>

		</div>
		<div class="row container">	                       
            <button id="searchDocBtn" ng-click="searchDocuments()" class="btn btn-primary pull-right">Cerca</button>                    
		</div>
	</div>
</div>