<div id="searchPanel" class="panel-collapse" collapse="isSearchCollapsed" style="background-color: rgba(26, 105, 123, 0.16); margin-top: 50px; height: auto;">
	<div class="header-section">
		<div class="row container">
			<div class="col-xs-12 tag-category">Ricerca telefoni</div>
			<div class="col-md-6">
				<div class="form-group">

					<label for="">Descrizione voce in rubrica:</label>
					<!--<input ng-model="bookingCode" type="text" class="form-control" id="codice-prenotazione" placeholder="Inserisci descrizione"
						name="codice-prenotazione" />-->
					<ui-select ng-model="selectedPhone" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 600px;"
						title="Choose an address">
						<ui-select-match placeholder="Inserire descrizione in rubrica">{{$select.selected.telephone}} - {{$select.selected.description}}</ui-select-match>
						<ui-select-choices repeat="p in phones track by $index" refresh="searchPhones($select.search)" refresh-delay="300">
							<!--<div ng-bind-html="p.desc+" - "+p.phone | highlight: $select.search"></div>-->
							<span>{{p.description}} - {{p.telephone}}</span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
	</div>
</div>